## Yearly P&L

In [9]:
import pandas as pd
import numpy as np

## rolling avg and reading file

In [24]:
rolling_avg = 20
df = pd.read_csv("C:\\keshav\\Nifty50_data\\Nifty50.csv", parse_dates=['Date'],index_col='Date').sort_index()
df = df.loc['2018-04-02':]
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-04-02,10151.650391,10220.099609,10127.750000,10211.799805,10211.799805,225400
2018-04-03,10186.849609,10255.349609,10171.049805,10245.000000,10245.000000,205300
2018-04-04,10274.599609,10279.849609,10111.299805,10128.400391,10128.400391,231100
2018-04-05,10228.450195,10331.799805,10227.450195,10325.150391,10325.150391,236800
2018-04-06,10322.750000,10350.450195,10290.849609,10331.599609,10331.599609,200200
...,...,...,...,...,...,...
2023-04-26,17767.300781,17827.750000,17711.199219,17813.599609,17813.599609,233000
2023-04-27,17813.099609,17931.599609,17797.900391,17915.050781,17915.050781,241400
2023-04-28,17950.400391,18089.150391,17885.300781,18065.000000,18065.000000,290300
2023-05-02,18124.800781,18180.250000,18101.750000,18147.650391,18147.650391,265200
2023-05-03,18113.800781,18116.349609,18042.400391,18089.849609,18089.849609,0

In [25]:
df['Close_MA'] =df['Close'].rolling(rolling_avg).mean()  #rolling _avg variable given 20 above

In [26]:
df.head(30)

,Open,High,Low,Close,Adj Close,Volume,Close_MA
Date,,,,,,,
2018-04-02,10151.650391,10220.099609,10127.750000,10211.799805,10211.799805,225400,NaN
2018-04-03,10186.849609,10255.349609,10171.049805,10245.000000,10245.000000,205300,NaN
2018-04-04,10274.599609,10279.849609,10111.299805,10128.400391,10128.400391,231100,NaN
2018-04-05,10228.450195,10331.799805,10227.450195,10325.150391,10325.150391,236800,NaN
2018-04-06,10322.750000,10350.450195,10290.849609,10331.599609,10331.599609,200200,NaN
2018-04-09,10333.700195,10397.700195,10328.500000,10379.349609,10379.349609,221600,NaN
2018-04-10,10412.900391,10424.849609,10381.500000,10402.250000,10402.250000,251700,NaN
2018-04-11,10428.150391,10428.150391,10355.599609,10417.150391,10417.150391,250400,NaN
2018-04-12,10410.650391,10469.900391,10395.250000,10458.650391,10458.650391,238600,NaN
2018-04-13,10495.299805,10519.900391,10451.450195,10480.599609,10480.599609,213100,NaN
2018-04-16,10398.299805,10540.150391,10396.349609,10528.349609,10528.349609,195000,NaN
2018-04-17,10557.299805,10560.450195,10495.650391,10548.700195,10548.700195,206100,NaN
2018-04-18,10578.900391,10594.200195,10509.700195,10526.200195,10526.200195,205400,NaN
2018-04-19,10563.650391,10572.200195,10546.200195,10565.299805,10565.299805,262600,NaN
2018-04-20,10560.349609,10582.349609,10527.450195,10564.049805,10564.049805,244600,NaN
2018-04-23,10592.799805,10638.349609,10514.950195,10584.700195,10584.700195,194200,NaN
2018-04-24,10578.099609,10636.799805,10569.000000,10614.349609,10614.349609,219200,NaN
2018-04-25,10612.400391,10612.599609,10536.450195,10570.549805,10570.549805,189200,NaN
2018-04-26,10586.500000,10628.400391,10559.650391,10617.799805,10617.799805,335100,NaN
2018-04-27,10651.650391,10719.799805,10647.549805,10692.299805,10692.299805,0,10459.612451
2018-04-30,10705.750000,10759.000000,10704.599609,10739.349609,10739.349609,173800,10485.989941
2018-05-02,10783.849609,10784.650391,10689.799805,10718.049805,10718.049805,229700,10509.642432
2018-05-03,10720.150391,10720.599609,10647.450195,10679.650391,10679.650391,185200,10537.204932
2018-05-04,10700.450195,10700.450195,10601.599609,10618.250000,10618.250000,186500,10551.859912
2018-05-07,10653.150391,10725.650391,10635.650391,10715.500000,10715.500000,168400,10571.054932
2018-05-08,10757.900391,10758.549805,10689.400391,10717.799805,10717.799805,269800,10587.977441
2018-05-09,10693.349609,10766.250000,10689.849609,10741.700195,10741.700195,215400,10604.949951
2018-05-10,10779.650391,10785.549805,10705.000000,10716.549805,10716.549805,192100,10619.919922
2018-05-11,10741.950195,10812.049805,10724.450195,10806.500000,10806.500000,203100,10637.312402
2018-05-14,10815.150391,10834.849609,10774.750000,10806.599609,10806.599609,171400,10653.612402

In [27]:
def get_signal(row):
    if row['Close'] > row['Close_MA']:
        return 'Buy'
    elif row['Close'] < row['Close_MA']:
        return 'Sell'
    else:
        return '-'

df['Signal'] = df.apply(get_signal, axis=1)

In [28]:
# df['Signal'] = df.apply(lambda row: 'Buy' if (row['Close'] > row['Close_MA']) else ('Sell' if row['Close'] < row['Close_MA'] else '-'), axis=1)

In [30]:
df.head(30)

,Open,High,Low,Close,Adj Close,Volume,Close_MA,Signal
Date,,,,,,,,
2018-04-02,10151.650391,10220.099609,10127.750000,10211.799805,10211.799805,225400,NaN,-
2018-04-03,10186.849609,10255.349609,10171.049805,10245.000000,10245.000000,205300,NaN,-
2018-04-04,10274.599609,10279.849609,10111.299805,10128.400391,10128.400391,231100,NaN,-
2018-04-05,10228.450195,10331.799805,10227.450195,10325.150391,10325.150391,236800,NaN,-
2018-04-06,10322.750000,10350.450195,10290.849609,10331.599609,10331.599609,200200,NaN,-
2018-04-09,10333.700195,10397.700195,10328.500000,10379.349609,10379.349609,221600,NaN,-
2018-04-10,10412.900391,10424.849609,10381.500000,10402.250000,10402.250000,251700,NaN,-
2018-04-11,10428.150391,10428.150391,10355.599609,10417.150391,10417.150391,250400,NaN,-
2018-04-12,10410.650391,10469.900391,10395.250000,10458.650391,10458.650391,238600,NaN,-
2018-04-13,10495.299805,10519.900391,10451.450195,10480.599609,10480.599609,213100,NaN,-
2018-04-16,10398.299805,10540.150391,10396.349609,10528.349609,10528.349609,195000,NaN,-
2018-04-17,10557.299805,10560.450195,10495.650391,10548.700195,10548.700195,206100,NaN,-
2018-04-18,10578.900391,10594.200195,10509.700195,10526.200195,10526.200195,205400,NaN,-
2018-04-19,10563.650391,10572.200195,10546.200195,10565.299805,10565.299805,262600,NaN,-
2018-04-20,10560.349609,10582.349609,10527.450195,10564.049805,10564.049805,244600,NaN,-
2018-04-23,10592.799805,10638.349609,10514.950195,10584.700195,10584.700195,194200,NaN,-
2018-04-24,10578.099609,10636.799805,10569.000000,10614.349609,10614.349609,219200,NaN,-
2018-04-25,10612.400391,10612.599609,10536.450195,10570.549805,10570.549805,189200,NaN,-
2018-04-26,10586.500000,10628.400391,10559.650391,10617.799805,10617.799805,335100,NaN,-
2018-04-27,10651.650391,10719.799805,10647.549805,10692.299805,10692.299805,0,10459.612451,Buy
2018-04-30,10705.750000,10759.000000,10704.599609,10739.349609,10739.349609,173800,10485.989941,Buy
2018-05-02,10783.849609,10784.650391,10689.799805,10718.049805,10718.049805,229700,10509.642432,Buy
2018-05-03,10720.150391,10720.599609,10647.450195,10679.650391,10679.650391,185200,10537.204932,Buy
2018-05-04,10700.450195,10700.450195,10601.599609,10618.250000,10618.250000,186500,10551.859912,Buy
2018-05-07,10653.150391,10725.650391,10635.650391,10715.500000,10715.500000,168400,10571.054932,Buy
2018-05-08,10757.900391,10758.549805,10689.400391,10717.799805,10717.799805,269800,10587.977441,Buy
2018-05-09,10693.349609,10766.250000,10689.849609,10741.700195,10741.700195,215400,10604.949951,Buy
2018-05-10,10779.650391,10785.549805,10705.000000,10716.549805,10716.549805,192100,10619.919922,Buy
2018-05-11,10741.950195,10812.049805,10724.450195,10806.500000,10806.500000,203100,10637.312402,Buy
2018-05-14,10815.150391,10834.849609,10774.750000,10806.599609,10806.599609,171400,10653.612402,Buy

In [31]:
#still will buy or sell next day hence shifting one down to singnal
df['Signal'] = df['Signal'].shift(1)

In [32]:
df.head(30)

,Open,High,Low,Close,Adj Close,Volume,Close_MA,Signal
Date,,,,,,,,
2018-04-02,10151.650391,10220.099609,10127.750000,10211.799805,10211.799805,225400,NaN,None
2018-04-03,10186.849609,10255.349609,10171.049805,10245.000000,10245.000000,205300,NaN,-
2018-04-04,10274.599609,10279.849609,10111.299805,10128.400391,10128.400391,231100,NaN,-
2018-04-05,10228.450195,10331.799805,10227.450195,10325.150391,10325.150391,236800,NaN,-
2018-04-06,10322.750000,10350.450195,10290.849609,10331.599609,10331.599609,200200,NaN,-
2018-04-09,10333.700195,10397.700195,10328.500000,10379.349609,10379.349609,221600,NaN,-
2018-04-10,10412.900391,10424.849609,10381.500000,10402.250000,10402.250000,251700,NaN,-
2018-04-11,10428.150391,10428.150391,10355.599609,10417.150391,10417.150391,250400,NaN,-
2018-04-12,10410.650391,10469.900391,10395.250000,10458.650391,10458.650391,238600,NaN,-
2018-04-13,10495.299805,10519.900391,10451.450195,10480.599609,10480.599609,213100,NaN,-
2018-04-16,10398.299805,10540.150391,10396.349609,10528.349609,10528.349609,195000,NaN,-
2018-04-17,10557.299805,10560.450195,10495.650391,10548.700195,10548.700195,206100,NaN,-
2018-04-18,10578.900391,10594.200195,10509.700195,10526.200195,10526.200195,205400,NaN,-
2018-04-19,10563.650391,10572.200195,10546.200195,10565.299805,10565.299805,262600,NaN,-
2018-04-20,10560.349609,10582.349609,10527.450195,10564.049805,10564.049805,244600,NaN,-
2018-04-23,10592.799805,10638.349609,10514.950195,10584.700195,10584.700195,194200,NaN,-
2018-04-24,10578.099609,10636.799805,10569.000000,10614.349609,10614.349609,219200,NaN,-
2018-04-25,10612.400391,10612.599609,10536.450195,10570.549805,10570.549805,189200,NaN,-
2018-04-26,10586.500000,10628.400391,10559.650391,10617.799805,10617.799805,335100,NaN,-
2018-04-27,10651.650391,10719.799805,10647.549805,10692.299805,10692.299805,0,10459.612451,-
2018-04-30,10705.750000,10759.000000,10704.599609,10739.349609,10739.349609,173800,10485.989941,Buy
2018-05-02,10783.849609,10784.650391,10689.799805,10718.049805,10718.049805,229700,10509.642432,Buy
2018-05-03,10720.150391,10720.599609,10647.450195,10679.650391,10679.650391,185200,10537.204932,Buy
2018-05-04,10700.450195,10700.450195,10601.599609,10618.250000,10618.250000,186500,10551.859912,Buy
2018-05-07,10653.150391,10725.650391,10635.650391,10715.500000,10715.500000,168400,10571.054932,Buy
2018-05-08,10757.900391,10758.549805,10689.400391,10717.799805,10717.799805,269800,10587.977441,Buy
2018-05-09,10693.349609,10766.250000,10689.849609,10741.700195,10741.700195,215400,10604.949951,Buy
2018-05-10,10779.650391,10785.549805,10705.000000,10716.549805,10716.549805,192100,10619.919922,Buy
2018-05-11,10741.950195,10812.049805,10724.450195,10806.500000,10806.500000,203100,10637.312402,Buy
2018-05-14,10815.150391,10834.849609,10774.750000,10806.599609,10806.599609,171400,10653.612402,Buy

In [33]:
df['Signal2'] = df['Signal'].shift(1)

In [34]:
df.head(50)

,Open,High,Low,Close,Adj Close,Volume,Close_MA,Signal,Signal2
Date,,,,,,,,,
2018-04-02,10151.650391,10220.099609,10127.750000,10211.799805,10211.799805,225400,NaN,None,None
2018-04-03,10186.849609,10255.349609,10171.049805,10245.000000,10245.000000,205300,NaN,-,None
2018-04-04,10274.599609,10279.849609,10111.299805,10128.400391,10128.400391,231100,NaN,-,-
2018-04-05,10228.450195,10331.799805,10227.450195,10325.150391,10325.150391,236800,NaN,-,-
2018-04-06,10322.750000,10350.450195,10290.849609,10331.599609,10331.599609,200200,NaN,-,-
2018-04-09,10333.700195,10397.700195,10328.500000,10379.349609,10379.349609,221600,NaN,-,-
2018-04-10,10412.900391,10424.849609,10381.500000,10402.250000,10402.250000,251700,NaN,-,-
2018-04-11,10428.150391,10428.150391,10355.599609,10417.150391,10417.150391,250400,NaN,-,-
2018-04-12,10410.650391,10469.900391,10395.250000,10458.650391,10458.650391,238600,NaN,-,-
2018-04-13,10495.299805,10519.900391,10451.450195,10480.599609,10480.599609,213100,NaN,-,-
2018-04-16,10398.299805,10540.150391,10396.349609,10528.349609,10528.349609,195000,NaN,-,-
2018-04-17,10557.299805,10560.450195,10495.650391,10548.700195,10548.700195,206100,NaN,-,-
2018-04-18,10578.900391,10594.200195,10509.700195,10526.200195,10526.200195,205400,NaN,-,-
2018-04-19,10563.650391,10572.200195,10546.200195,10565.299805,10565.299805,262600,NaN,-,-
2018-04-20,10560.349609,10582.349609,10527.450195,10564.049805,10564.049805,244600,NaN,-,-
2018-04-23,10592.799805,10638.349609,10514.950195,10584.700195,10584.700195,194200,NaN,-,-
2018-04-24,10578.099609,10636.799805,10569.000000,10614.349609,10614.349609,219200,NaN,-,-
2018-04-25,10612.400391,10612.599609,10536.450195,10570.549805,10570.549805,189200,NaN,-,-
2018-04-26,10586.500000,10628.400391,10559.650391,10617.799805,10617.799805,335100,NaN,-,-
2018-04-27,10651.650391,10719.799805,10647.549805,10692.299805,10692.299805,0,10459.612451,-,-
2018-04-30,10705.750000,10759.000000,10704.599609,10739.349609,10739.349609,173800,10485.989941,Buy,-
2018-05-02,10783.849609,10784.650391,10689.799805,10718.049805,10718.049805,229700,10509.642432,Buy,Buy
2018-05-03,10720.150391,10720.599609,10647.450195,10679.650391,10679.650391,185200,10537.204932,Buy,Buy
2018-05-04,10700.450195,10700.450195,10601.599609,10618.250000,10618.250000,186500,10551.859912,Buy,Buy
2018-05-07,10653.150391,10725.650391,10635.650391,10715.500000,10715.500000,168400,10571.054932,Buy,Buy
2018-05-08,10757.900391,10758.549805,10689.400391,10717.799805,10717.799805,269800,10587.977441,Buy,Buy
2018-05-09,10693.349609,10766.250000,10689.849609,10741.700195,10741.700195,215400,10604.949951,Buy,Buy
2018-05-10,10779.650391,10785.549805,10705.000000,10716.549805,10716.549805,192100,10619.919922,Buy,Buy
2018-05-11,10741.950195,10812.049805,10724.450195,10806.500000,10806.500000,203100,10637.312402,Buy,Buy
2018-05-14,10815.150391,10834.849609,10774.750000,10806.599609,10806.599609,171400,10653.612402,Buy,Buy
2018-05-15,10812.599609,10929.200195,10781.400391,10801.849609,10801.849609,254300,10667.287402,Buy,Buy
2018-05-16,10751.950195,10790.450195,10699.700195,10741.099609,10741.099609,231100,10676.907373,Buy,Buy
2018-05-17,10775.599609,10777.250000,10664.500000,10682.700195,10682.700195,214100,10684.732373,Buy,Buy
2018-05-18,10671.849609,10674.950195,10589.099609,10596.400391,10596.400391,223000,10686.287402,Sell,Buy
2018-05-21,10616.700195,10621.700195,10505.799805,10516.700195,10516.700195,0,10683.919922,Sell,Sell
2018-05-22,10518.450195,10558.599609,10490.549805,10536.700195,10536.700195,241700,10681.519922,Sell,Sell
2018-05-23,10521.099609,10533.549805,10417.799805,10430.349609,10430.349609,290900,10672.319922,Sell,Sell
2018-05-24,10464.849609,10535.150391,10419.799805,10513.849609,10513.849609,297600,10669.484912,Sell,Sell
2018-05-25,10533.049805,10628.049805,10524.000000,10605.150391,10605.150391,260800,10668.852441,Sell,Sell
2018-05-28,10648.349609,10709.799805,10640.549805,10688.650391,10688.650391,232600,10668.669971,Sell,Sell
2018-05-29,10689.400391,10717.250000,10616.099609,10633.299805,10633.299805,225800,10663.367480,Buy,Sell
2018-05-30,10579.000000,10648.700195,10558.450195,10614.349609,10614.349609,238700,10658.182471,Sell,Buy
2018-05-31,10670.099609,10763.799805,10620.400391,10736.150391,10736.150391,610300,10661.007471,Sell,Sell
2018-06-01,10738.450195,10764.750000,10681.500000,10696.200195,10696.200195,220600,10664.904980,Buy,Sell
2018-06-04,10765.950195,10770.299805,10618.349609,10628.500000,10628.500000,203800,10660.554980,Buy,Buy
2018-06-05,10630.700195,10633.150391,10550.900391,10593.150391,10593.150391,167700,10654.322510,Sell,Buy
2018-06-06,10603.450195,10698.349609,10587.500000,10684.650391,10684.650391,189900,10651.470020,Sell,Sell
2018-06-07,10722.599609,10818.000000,10722.599609,10768.349609,10768.349609,220900,10654.060010,Buy,Sell
2018-06-08,10736.400391,10779.450195,10709.049805,10767.650391,10767.650391,209400,10652.117529,Buy,Buy
2018-06-11,10781.849609,10850.549805,10777.049805,10786.950195,10786.950195,211400,10651.135059,Buy,Buy

In [35]:
# whenever signal changes track next day open value
def calc_change(row):
    if row['Signal'] != row['Signal2'] and row['Signal'] != '-' and row['Signal2'] is not None:
        return row['Open']
    else:
        return '-'

df['change'] = df.apply(calc_change, axis=1)

In [36]:

# df['change'] = df.apply(lambda row: row['Open'] if row['Signal']!=row['Signal2'] and row['Signal']!='-' and  row['Signal2'] is not None else '-', axis=1)
df.head(30)

,Open,High,Low,Close,Adj Close,Volume,Close_MA,Signal,Signal2,change
Date,,,,,,,,,,
2018-04-02,10151.650391,10220.099609,10127.750000,10211.799805,10211.799805,225400,NaN,None,None,-
2018-04-03,10186.849609,10255.349609,10171.049805,10245.000000,10245.000000,205300,NaN,-,None,-
2018-04-04,10274.599609,10279.849609,10111.299805,10128.400391,10128.400391,231100,NaN,-,-,-
2018-04-05,10228.450195,10331.799805,10227.450195,10325.150391,10325.150391,236800,NaN,-,-,-
2018-04-06,10322.750000,10350.450195,10290.849609,10331.599609,10331.599609,200200,NaN,-,-,-
2018-04-09,10333.700195,10397.700195,10328.500000,10379.349609,10379.349609,221600,NaN,-,-,-
2018-04-10,10412.900391,10424.849609,10381.500000,10402.250000,10402.250000,251700,NaN,-,-,-
2018-04-11,10428.150391,10428.150391,10355.599609,10417.150391,10417.150391,250400,NaN,-,-,-
2018-04-12,10410.650391,10469.900391,10395.250000,10458.650391,10458.650391,238600,NaN,-,-,-
2018-04-13,10495.299805,10519.900391,10451.450195,10480.599609,10480.599609,213100,NaN,-,-,-
2018-04-16,10398.299805,10540.150391,10396.349609,10528.349609,10528.349609,195000,NaN,-,-,-
2018-04-17,10557.299805,10560.450195,10495.650391,10548.700195,10548.700195,206100,NaN,-,-,-
2018-04-18,10578.900391,10594.200195,10509.700195,10526.200195,10526.200195,205400,NaN,-,-,-
2018-04-19,10563.650391,10572.200195,10546.200195,10565.299805,10565.299805,262600,NaN,-,-,-
2018-04-20,10560.349609,10582.349609,10527.450195,10564.049805,10564.049805,244600,NaN,-,-,-
2018-04-23,10592.799805,10638.349609,10514.950195,10584.700195,10584.700195,194200,NaN,-,-,-
2018-04-24,10578.099609,10636.799805,10569.000000,10614.349609,10614.349609,219200,NaN,-,-,-
2018-04-25,10612.400391,10612.599609,10536.450195,10570.549805,10570.549805,189200,NaN,-,-,-
2018-04-26,10586.500000,10628.400391,10559.650391,10617.799805,10617.799805,335100,NaN,-,-,-
2018-04-27,10651.650391,10719.799805,10647.549805,10692.299805,10692.299805,0,10459.612451,-,-,-
2018-04-30,10705.750000,10759.000000,10704.599609,10739.349609,10739.349609,173800,10485.989941,Buy,-,10705.75
2018-05-02,10783.849609,10784.650391,10689.799805,10718.049805,10718.049805,229700,10509.642432,Buy,Buy,-
2018-05-03,10720.150391,10720.599609,10647.450195,10679.650391,10679.650391,185200,10537.204932,Buy,Buy,-
2018-05-04,10700.450195,10700.450195,10601.599609,10618.250000,10618.250000,186500,10551.859912,Buy,Buy,-
2018-05-07,10653.150391,10725.650391,10635.650391,10715.500000,10715.500000,168400,10571.054932,Buy,Buy,-
2018-05-08,10757.900391,10758.549805,10689.400391,10717.799805,10717.799805,269800,10587.977441,Buy,Buy,-
2018-05-09,10693.349609,10766.250000,10689.849609,10741.700195,10741.700195,215400,10604.949951,Buy,Buy,-
2018-05-10,10779.650391,10785.549805,10705.000000,10716.549805,10716.549805,192100,10619.919922,Buy,Buy,-
2018-05-11,10741.950195,10812.049805,10724.450195,10806.500000,10806.500000,203100,10637.312402,Buy,Buy,-
2018-05-14,10815.150391,10834.849609,10774.750000,10806.599609,10806.599609,171400,10653.612402,Buy,Buy,-

In [37]:
# convering change column to floats so we can filter it out
df['change'] = df.apply(lambda x: float(x['change']) if x['change'] != '-' else 0, axis=1)

In [39]:
df.head(30)

,Open,High,Low,Close,Adj Close,Volume,Close_MA,Signal,Signal2,change
Date,,,,,,,,,,
2018-04-02,10151.650391,10220.099609,10127.750000,10211.799805,10211.799805,225400,NaN,None,None,0.00
2018-04-03,10186.849609,10255.349609,10171.049805,10245.000000,10245.000000,205300,NaN,-,None,0.00
2018-04-04,10274.599609,10279.849609,10111.299805,10128.400391,10128.400391,231100,NaN,-,-,0.00
2018-04-05,10228.450195,10331.799805,10227.450195,10325.150391,10325.150391,236800,NaN,-,-,0.00
2018-04-06,10322.750000,10350.450195,10290.849609,10331.599609,10331.599609,200200,NaN,-,-,0.00
2018-04-09,10333.700195,10397.700195,10328.500000,10379.349609,10379.349609,221600,NaN,-,-,0.00
2018-04-10,10412.900391,10424.849609,10381.500000,10402.250000,10402.250000,251700,NaN,-,-,0.00
2018-04-11,10428.150391,10428.150391,10355.599609,10417.150391,10417.150391,250400,NaN,-,-,0.00
2018-04-12,10410.650391,10469.900391,10395.250000,10458.650391,10458.650391,238600,NaN,-,-,0.00
2018-04-13,10495.299805,10519.900391,10451.450195,10480.599609,10480.599609,213100,NaN,-,-,0.00
2018-04-16,10398.299805,10540.150391,10396.349609,10528.349609,10528.349609,195000,NaN,-,-,0.00
2018-04-17,10557.299805,10560.450195,10495.650391,10548.700195,10548.700195,206100,NaN,-,-,0.00
2018-04-18,10578.900391,10594.200195,10509.700195,10526.200195,10526.200195,205400,NaN,-,-,0.00
2018-04-19,10563.650391,10572.200195,10546.200195,10565.299805,10565.299805,262600,NaN,-,-,0.00
2018-04-20,10560.349609,10582.349609,10527.450195,10564.049805,10564.049805,244600,NaN,-,-,0.00
2018-04-23,10592.799805,10638.349609,10514.950195,10584.700195,10584.700195,194200,NaN,-,-,0.00
2018-04-24,10578.099609,10636.799805,10569.000000,10614.349609,10614.349609,219200,NaN,-,-,0.00
2018-04-25,10612.400391,10612.599609,10536.450195,10570.549805,10570.549805,189200,NaN,-,-,0.00
2018-04-26,10586.500000,10628.400391,10559.650391,10617.799805,10617.799805,335100,NaN,-,-,0.00
2018-04-27,10651.650391,10719.799805,10647.549805,10692.299805,10692.299805,0,10459.612451,-,-,0.00
2018-04-30,10705.750000,10759.000000,10704.599609,10739.349609,10739.349609,173800,10485.989941,Buy,-,10705.75
2018-05-02,10783.849609,10784.650391,10689.799805,10718.049805,10718.049805,229700,10509.642432,Buy,Buy,0.00
2018-05-03,10720.150391,10720.599609,10647.450195,10679.650391,10679.650391,185200,10537.204932,Buy,Buy,0.00
2018-05-04,10700.450195,10700.450195,10601.599609,10618.250000,10618.250000,186500,10551.859912,Buy,Buy,0.00
2018-05-07,10653.150391,10725.650391,10635.650391,10715.500000,10715.500000,168400,10571.054932,Buy,Buy,0.00
2018-05-08,10757.900391,10758.549805,10689.400391,10717.799805,10717.799805,269800,10587.977441,Buy,Buy,0.00
2018-05-09,10693.349609,10766.250000,10689.849609,10741.700195,10741.700195,215400,10604.949951,Buy,Buy,0.00
2018-05-10,10779.650391,10785.549805,10705.000000,10716.549805,10716.549805,192100,10619.919922,Buy,Buy,0.00
2018-05-11,10741.950195,10812.049805,10724.450195,10806.500000,10806.500000,203100,10637.312402,Buy,Buy,0.00
2018-05-14,10815.150391,10834.849609,10774.750000,10806.599609,10806.599609,171400,10653.612402,Buy,Buy,0.00

## filtered dataframe

In [40]:
# filtering out rows based on change column having open values only
filtered_df = df[df['change']>0].copy()
filtered_df

,Open,High,Low,Close,Adj Close,Volume,Close_MA,Signal,Signal2,change
Date,,,,,,,,,,
2018-04-30,10705.750000,10759.000000,10704.599609,10739.349609,10739.349609,173800,10485.989941,Buy,-,10705.750000
2018-05-18,10671.849609,10674.950195,10589.099609,10596.400391,10596.400391,223000,10686.287402,Sell,Buy,10671.849609
2018-05-29,10689.400391,10717.250000,10616.099609,10633.299805,10633.299805,225800,10663.367480,Buy,Sell,10689.400391
2018-05-30,10579.000000,10648.700195,10558.450195,10614.349609,10614.349609,238700,10658.182471,Sell,Buy,10579.000000
2018-06-01,10738.450195,10764.750000,10681.500000,10696.200195,10696.200195,220600,10664.904980,Buy,Sell,10738.450195
...,...,...,...,...,...,...,...,...,...,...
2023-02-15,17896.599609,18034.099609,17853.800781,18015.849609,18015.849609,229300,17862.509961,Buy,Sell,17896.599609
2023-02-23,17574.650391,17620.050781,17455.400391,17511.250000,17511.250000,240800,17776.872363,Sell,Buy,17574.650391
2023-03-08,17665.750000,17766.500000,17602.250000,17754.400391,17754.400391,267000,17702.529785,Buy,Sell,17665.750000
2023-03-10,17443.800781,17451.500000,17324.349609,17412.900391,17412.900391,235900,17664.397363,Sell,Buy,17443.800781
2023-04-03,17427.949219,17428.050781,17312.750000,17398.050781,17398.050781,230200,17218.187598,Buy,Sell,17427.949219

In [42]:
filtered_df['shifted_change'] = filtered_df['change'].shift(1)

In [43]:
filtered_df

,Open,High,Low,Close,Adj Close,Volume,Close_MA,Signal,Signal2,change,shifted_change
Date,,,,,,,,,,,
2018-04-30,10705.750000,10759.000000,10704.599609,10739.349609,10739.349609,173800,10485.989941,Buy,-,10705.750000,NaN
2018-05-18,10671.849609,10674.950195,10589.099609,10596.400391,10596.400391,223000,10686.287402,Sell,Buy,10671.849609,10705.750000
2018-05-29,10689.400391,10717.250000,10616.099609,10633.299805,10633.299805,225800,10663.367480,Buy,Sell,10689.400391,10671.849609
2018-05-30,10579.000000,10648.700195,10558.450195,10614.349609,10614.349609,238700,10658.182471,Sell,Buy,10579.000000,10689.400391
2018-06-01,10738.450195,10764.750000,10681.500000,10696.200195,10696.200195,220600,10664.904980,Buy,Sell,10738.450195,10579.000000
...,...,...,...,...,...,...,...,...,...,...,...
2023-02-15,17896.599609,18034.099609,17853.800781,18015.849609,18015.849609,229300,17862.509961,Buy,Sell,17896.599609,17859.099609
2023-02-23,17574.650391,17620.050781,17455.400391,17511.250000,17511.250000,240800,17776.872363,Sell,Buy,17574.650391,17896.599609
2023-03-08,17665.750000,17766.500000,17602.250000,17754.400391,17754.400391,267000,17702.529785,Buy,Sell,17665.750000,17574.650391
2023-03-10,17443.800781,17451.500000,17324.349609,17412.900391,17412.900391,235900,17664.397363,Sell,Buy,17443.800781,17665.750000
2023-04-03,17427.949219,17428.050781,17312.750000,17398.050781,17398.050781,230200,17218.187598,Buy,Sell,17427.949219,17443.800781

In [44]:
filtered_df['P&L'] = filtered_df.apply(lambda row: (row['change'] - row['shifted_change']) if row['Signal'] == 'Sell' else row['shifted_change']-row['change'],axis=1)

In [45]:
filtered_df

,Open,High,Low,Close,Adj Close,Volume,Close_MA,Signal,Signal2,change,shifted_change,P&L
Date,,,,,,,,,,,,
2018-04-30,10705.750000,10759.000000,10704.599609,10739.349609,10739.349609,173800,10485.989941,Buy,-,10705.750000,NaN,NaN
2018-05-18,10671.849609,10674.950195,10589.099609,10596.400391,10596.400391,223000,10686.287402,Sell,Buy,10671.849609,10705.750000,-33.900391
2018-05-29,10689.400391,10717.250000,10616.099609,10633.299805,10633.299805,225800,10663.367480,Buy,Sell,10689.400391,10671.849609,-17.550781
2018-05-30,10579.000000,10648.700195,10558.450195,10614.349609,10614.349609,238700,10658.182471,Sell,Buy,10579.000000,10689.400391,-110.400391
2018-06-01,10738.450195,10764.750000,10681.500000,10696.200195,10696.200195,220600,10664.904980,Buy,Sell,10738.450195,10579.000000,-159.450195
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-15,17896.599609,18034.099609,17853.800781,18015.849609,18015.849609,229300,17862.509961,Buy,Sell,17896.599609,17859.099609,-37.500000
2023-02-23,17574.650391,17620.050781,17455.400391,17511.250000,17511.250000,240800,17776.872363,Sell,Buy,17574.650391,17896.599609,-321.949219
2023-03-08,17665.750000,17766.500000,17602.250000,17754.400391,17754.400391,267000,17702.529785,Buy,Sell,17665.750000,17574.650391,-91.099609
2023-03-10,17443.800781,17451.500000,17324.349609,17412.900391,17412.900391,235900,17664.397363,Sell,Buy,17443.800781,17665.750000,-221.949219
2023-04-03,17427.949219,17428.050781,17312.750000,17398.050781,17398.050781,230200,17218.187598,Buy,Sell,17427.949219,17443.800781,15.851562

In [46]:
#ignoring first row not having any position for that
filtered_df = filtered_df[1:]

In [47]:
filtered_df.head(30)

,Open,High,Low,Close,Adj Close,Volume,Close_MA,Signal,Signal2,change,shifted_change,P&L
Date,,,,,,,,,,,,
2018-05-18,10671.849609,10674.950195,10589.099609,10596.400391,10596.400391,223000,10686.287402,Sell,Buy,10671.849609,10705.750000,-33.900391
2018-05-29,10689.400391,10717.250000,10616.099609,10633.299805,10633.299805,225800,10663.367480,Buy,Sell,10689.400391,10671.849609,-17.550781
2018-05-30,10579.000000,10648.700195,10558.450195,10614.349609,10614.349609,238700,10658.182471,Sell,Buy,10579.000000,10689.400391,-110.400391
2018-06-01,10738.450195,10764.750000,10681.500000,10696.200195,10696.200195,220600,10664.904980,Buy,Sell,10738.450195,10579.000000,-159.450195
2018-06-05,10630.700195,10633.150391,10550.900391,10593.150391,10593.150391,167700,10654.322510,Sell,Buy,10630.700195,10738.450195,-107.750000
2018-06-07,10722.599609,10818.000000,10722.599609,10768.349609,10768.349609,220900,10654.060010,Buy,Sell,10722.599609,10630.700195,-91.899414
2018-06-28,10660.799805,10674.200195,10557.700195,10589.099609,10589.099609,352300,10744.407520,Sell,Buy,10660.799805,10722.599609,-61.799805
2018-07-05,10786.049805,10786.049805,10726.250000,10749.750000,10749.750000,220500,10755.422510,Buy,Sell,10786.049805,10660.799805,-125.250000
2018-07-06,10744.150391,10816.349609,10735.049805,10772.650391,10772.650391,0,10755.672510,Sell,Buy,10744.150391,10786.049805,-41.899414
2018-07-09,10838.299805,10860.349609,10807.150391,10852.900391,10852.900391,183600,10758.970020,Buy,Sell,10838.299805,10744.150391,-94.149414
2018-09-05,11514.849609,11542.650391,11393.849609,11476.950195,11476.950195,246100,11535.402490,Sell,Buy,11514.849609,10838.299805,676.549805
2018-09-10,11570.250000,11573.000000,11427.299805,11438.099609,11438.099609,286700,11548.099951,Buy,Sell,11570.250000,11514.849609,-55.400391
2018-09-11,11476.849609,11479.400391,11274.000000,11287.500000,11287.500000,0,11540.999951,Sell,Buy,11476.849609,11570.250000,-93.400391
2018-11-01,10441.700195,10441.900391,10341.900391,10380.450195,10380.450195,348500,10328.694971,Buy,Sell,10441.700195,11476.849609,1035.149414
2018-12-07,10644.799805,10704.549805,10599.349609,10693.700195,10693.700195,325800,10684.050049,Sell,Buy,10644.799805,10441.700195,203.099609
2018-12-10,10508.700195,10558.849609,10474.950195,10488.450195,10488.450195,381300,10679.212549,Buy,Sell,10508.700195,10644.799805,136.099609
2018-12-11,10350.049805,10567.150391,10333.849609,10549.150391,10549.150391,425500,10682.560059,Sell,Buy,10350.049805,10508.700195,-158.650391
2018-12-13,10810.750000,10838.599609,10749.500000,10791.549805,10791.549805,376200,10701.077539,Buy,Sell,10810.750000,10350.049805,-460.700195
2018-12-24,10780.900391,10782.299805,10649.250000,10663.500000,10663.500000,223400,10774.332520,Sell,Buy,10780.900391,10810.750000,-29.849609
2018-12-28,10820.950195,10893.599609,10817.150391,10859.900391,10859.900391,245500,10779.152539,Buy,Sell,10820.950195,10780.900391,-40.049805
2019-01-04,10699.700195,10741.049805,10628.650391,10727.349609,10727.349609,296600,10761.239990,Sell,Buy,10699.700195,10820.950195,-121.250000
2019-01-08,10786.250000,10818.450195,10733.250000,10802.150391,10802.150391,277700,10775.194971,Buy,Sell,10786.250000,10699.700195,-86.549805
2019-01-14,10807.000000,10808.000000,10692.349609,10737.599609,10737.599609,298800,10807.322461,Sell,Buy,10807.000000,10786.250000,20.750000
2019-01-16,10899.650391,10928.150391,10876.900391,10890.299805,10890.299805,276500,10811.487451,Buy,Sell,10899.650391,10807.000000,-92.650391
2019-01-28,10792.450195,10804.450195,10630.950195,10661.549805,10661.549805,419700,10821.757422,Sell,Buy,10792.450195,10899.650391,-107.200195
2019-02-01,10851.349609,10983.450195,10813.450195,10893.650391,10893.650391,482300,10820.454980,Buy,Sell,10851.349609,10792.450195,-58.899414
2019-02-14,10786.099609,10792.700195,10718.750000,10746.049805,10746.049805,627000,10861.852490,Sell,Buy,10786.099609,10851.349609,-65.250000
2019-02-26,10775.299805,10888.750000,10729.299805,10835.299805,10835.299805,415000,10820.947510,Buy,Sell,10775.299805,10786.099609,10.799805
2019-02-28,10865.700195,10865.700195,10784.849609,10792.500000,10792.500000,644200,10835.705029,Sell,Buy,10865.700195,10775.299805,90.400391
2019-03-05,10864.849609,10994.900391,10817.000000,10987.450195,10987.450195,373200,10842.022510,Buy,Sell,10864.849609,10865.700195,0.850586

### profit and loss overall

In [48]:
round(filtered_df['P&L'].sum(),2)

4833.4

### profit and loss calender- year vs fiscal year

In [49]:
filtered_df

,Open,High,Low,Close,Adj Close,Volume,Close_MA,Signal,Signal2,change,shifted_change,P&L
Date,,,,,,,,,,,,
2018-05-18,10671.849609,10674.950195,10589.099609,10596.400391,10596.400391,223000,10686.287402,Sell,Buy,10671.849609,10705.750000,-33.900391
2018-05-29,10689.400391,10717.250000,10616.099609,10633.299805,10633.299805,225800,10663.367480,Buy,Sell,10689.400391,10671.849609,-17.550781
2018-05-30,10579.000000,10648.700195,10558.450195,10614.349609,10614.349609,238700,10658.182471,Sell,Buy,10579.000000,10689.400391,-110.400391
2018-06-01,10738.450195,10764.750000,10681.500000,10696.200195,10696.200195,220600,10664.904980,Buy,Sell,10738.450195,10579.000000,-159.450195
2018-06-05,10630.700195,10633.150391,10550.900391,10593.150391,10593.150391,167700,10654.322510,Sell,Buy,10630.700195,10738.450195,-107.750000
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-15,17896.599609,18034.099609,17853.800781,18015.849609,18015.849609,229300,17862.509961,Buy,Sell,17896.599609,17859.099609,-37.500000
2023-02-23,17574.650391,17620.050781,17455.400391,17511.250000,17511.250000,240800,17776.872363,Sell,Buy,17574.650391,17896.599609,-321.949219
2023-03-08,17665.750000,17766.500000,17602.250000,17754.400391,17754.400391,267000,17702.529785,Buy,Sell,17665.750000,17574.650391,-91.099609
2023-03-10,17443.800781,17451.500000,17324.349609,17412.900391,17412.900391,235900,17664.397363,Sell,Buy,17443.800781,17665.750000,-221.949219
2023-04-03,17427.949219,17428.050781,17312.750000,17398.050781,17398.050781,230200,17218.187598,Buy,Sell,17427.949219,17443.800781,15.851562

In [50]:
filtered_df.index

DatetimeIndex(['2018-05-18', '2018-05-29', '2018-05-30', '2018-06-01',
               '2018-06-05', '2018-06-07', '2018-06-28', '2018-07-05',
               '2018-07-06', '2018-07-09',
               ...
               '2023-01-23', '2023-01-24', '2023-01-27', '2023-02-10',
               '2023-02-13', '2023-02-15', '2023-02-23', '2023-03-08',
               '2023-03-10', '2023-04-03'],
              dtype='datetime64[ns]', name='Date', length=138, freq=None)

In [51]:
filtered_df.groupby(filtered_df.index.year)['P&L'].sum()

Date
2018     368.797852
2019    -892.598633
2020    3362.949219
2021     975.103516
2022    1717.900391
2023    -698.751953
Name: P&L, dtype: float64

In [52]:
filtered_df.resample('AS-Apr')['P&L'].sum()

Date
2018-04-01     -40.201172
2019-04-01   -1403.150391
2020-04-01    4723.449219
2021-04-01     858.353516
2022-04-01     679.097656
2023-04-01      15.851562
Freq: AS-APR, Name: P&L, dtype: float64