In [46]:
import numpy as np
import pandas as pd
import yfinance as yf
import datetime as dt

## ticker list

In [47]:
series = pd.read_csv('symbol.csv', header=None).squeeze()
tickers = series.apply(lambda ticker : f"{ticker}.NS").to_list()
print(tickers)

['ADANIENT.NS', 'ADANIPORTS.NS', 'APOLLOHOSP.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BPCL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SUNPHARMA.NS', 'TATACONSUM.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS']

##  companies list

In [48]:
#for making columns
company_list = series.apply(lambda ticker : f"{ticker.split('.')[0]}").to_list()
print(company_list)

['ADANIENT', 'ADANIPORTS', 'APOLLOHOSP', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO', 'BAJAJFINSV', 'BAJFINANCE', 'BHARTIARTL', 'BPCL', 'BRITANNIA', 'CIPLA', 'COALINDIA', 'DIVISLAB', 'DRREDDY', 'EICHERMOT', 'GRASIM', 'HCLTECH', 'HDFC', 'HDFCBANK', 'HDFCLIFE', 'HEROMOTOCO', 'HINDALCO', 'HINDUNILVR', 'ICICIBANK', 'INDUSINDBK', 'INFY', 'ITC', 'JSWSTEEL', 'KOTAKBANK', 'LT', 'M&M', 'MARUTI', 'NESTLEIND', 'NTPC', 'ONGC', 'POWERGRID', 'RELIANCE', 'SBILIFE', 'SBIN', 'SUNPHARMA', 'TATACONSUM', 'TATAMOTORS', 'TATASTEEL', 'TCS', 'TECHM', 'TITAN', 'ULTRACEMCO', 'UPL', 'WIPRO']

## downloading all nifty stocks 'Adj Close' price

In [49]:
start_date = '2008-01-01'
end_date = '2023-06-22'

#data holder dataframe
data = pd.DataFrame(columns=company_list)

for ticker in tickers:
    data[ticker.split('.')[0]] = yf.download(ticker,start_date,end_date)['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

## downloading nifty file

In [50]:
nifty = yf.download('^NSEI',start_date, end_date)
nifty

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2008-01-01,6136.750000,6165.350098,6109.850098,6144.350098,6144.350098,0
2008-01-02,6144.700195,6197.000000,6060.850098,6179.399902,6179.399902,0
2008-01-03,6184.250000,6230.149902,6126.399902,6178.549805,6178.549805,0
2008-01-04,6179.100098,6300.049805,6179.100098,6274.299805,6274.299805,0
2008-01-07,6271.000000,6289.799805,6193.350098,6279.100098,6279.100098,0
...,...,...,...,...,...,...
2023-06-15,18774.449219,18794.099609,18669.050781,18688.099609,18688.099609,263000
2023-06-16,18723.300781,18864.699219,18710.500000,18826.000000,18826.000000,272800
2023-06-19,18873.300781,18881.449219,18719.150391,18755.449219,18755.449219,219800
2023-06-20,18752.349609,18839.699219,18660.650391,18816.699219,18816.699219,211600
2023-06-21,18849.400391,18875.900391,18794.849609,18856.849609,18856.849609,217500

In [51]:
data.insert(0,'Nifty',nifty['Adj Close'])

In [54]:
data = data.round(2)

In [55]:
data

,Nifty,ADANIENT,ADANIPORTS,APOLLOHOSP,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,...,SUNPHARMA,TATACONSUM,TATAMOTORS,TATASTEEL,TCS,TECHM,TITAN,ULTRACEMCO,UPL,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2008-01-01,6144.35,75.36,238.62,268.92,98.24,173.69,408.83,2554.42,37.22,416.41,...,107.71,71.09,130.94,27.21,194.16,222.26,70.00,926.83,99.16,99.77
2008-01-02,6179.40,79.13,240.57,269.40,98.44,184.78,408.13,2556.38,39.88,415.83,...,106.51,75.73,136.30,27.25,193.32,219.18,71.27,927.43,105.01,98.87
2008-01-03,6178.55,79.47,234.74,261.28,98.67,184.99,404.79,2529.94,38.78,408.45,...,102.12,74.31,135.96,27.03,186.15,220.86,69.88,922.06,105.51,95.94
2008-01-04,6274.30,79.23,228.22,260.99,98.83,188.39,407.10,2537.77,43.64,408.13,...,99.94,76.39,134.25,27.18,185.07,218.41,69.56,913.00,107.52,96.03
2008-01-07,6279.10,78.20,225.81,255.73,105.03,194.69,397.79,2482.92,42.40,403.26,...,100.87,75.06,134.90,27.02,179.62,211.67,75.70,923.42,108.32,93.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-15,18688.10,2485.65,739.50,5218.75,3294.35,977.15,4439.61,1473.15,7065.81,829.70,...,988.40,865.00,568.45,110.15,3216.30,1081.50,2898.11,8333.20,680.80,388.95
2023-06-16,18826.00,2509.60,747.40,5200.05,3316.85,981.55,4364.77,1507.02,7141.76,837.80,...,992.00,862.75,569.80,110.64,3174.90,1077.20,2944.25,8333.25,690.85,381.30
2023-06-19,18755.45,2401.40,735.65,5145.00,3309.70,965.65,4322.83,1540.33,7323.20,828.15,...,1001.80,857.00,566.05,110.49,3210.40,1093.60,2958.50,8268.60,685.60,380.15
2023-06-20,18816.70,2414.80,737.80,5162.05,3318.70,974.85,4383.62,1519.45,7186.97,831.20,...,991.95,858.90,583.25,110.64,3227.70,1107.35,2963.88,8243.45,683.45,382.50
2023-06-21,18856.85,2405.95,749.45,5118.75,3316.10,966.00,4372.48,1517.65,7144.68,839.00,...,991.90,860.15,581.40,110.30,3258.20,1119.90,2960.99,8241.55,686.10,385.50