Installing libraries

In [1]:
import numpy as np
import pandas as pd

reading file

In [2]:
df = pd.read_csv('4May23_orders.csv')
df

,SNo,Portfolio Name,Leg ID,Exchange,Exchange Symbol,Product,Order Type,Order ID,Time,Txn,...,Filled Qty,Exchg Time,Avg Price,Status,Limit Price,Order Failed,User ID,User Alias,Remarks,Tag
0,1,NF_CSL_STRANGS,1355,NFO,NIFTY 04MAY23 18150 CE,MIS,MARKET,2.020000e+11,04-May-2023 09.18.11,SELL,...,150,04-May-2023 09.18.11,15.90,COMPLETE,0,False,SIM1,SIMULATED1,NaN,10002264
1,2,NF_CSL_STRANGS,1355,NFO,NIFTY 04MAY23 18150 CE,MIS,MARKET,2.310000e+14,04-May-2023 09.18.11,SELL,...,150,01-Jan-0001 00.00.00,15.65,COMPLETE,0,False,50062865,RKEDEL,NaN,10002265
2,3,NF_CSL_STRANGS,1355,NFO,NIFTY 04MAY23 18150 CE,MIS,MARKET,1.100041e+09,04-May-2023 09.18.11,SELL,...,150,01-Jan-0001 00.00.00,15.53,COMPLETE,0,False,ASDE1950,AD1_IIFL,NaN,10002266
3,4,NF_CSL_STRANGS,1356,NFO,NIFTY 04MAY23 18050 PE,MIS,MARKET,2.310000e+14,04-May-2023 09.18.11,SELL,...,150,01-Jan-0001 00.00.00,17.90,COMPLETE,0,False,50062865,RKEDEL,NaN,10002269
4,5,NF_CSL_STRANGS,1356,NFO,NIFTY 04MAY23 18050 PE,MIS,MARKET,1.100041e+09,04-May-2023 09.18.11,SELL,...,150,01-Jan-0001 00.00.00,17.90,COMPLETE,0,False,ASDE1950,AD1_IIFL,NaN,10002270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,212,BNF_25PCT_2RE,1372,NFO,BANKNIFTY 04MAY23 43300 PE,MIS,MARKET,2.020000e+11,04-May-2023 15.09.22,BUY,...,75,04-May-2023 15.09.22,0.35,COMPLETE,0,False,SIM1,SIMULATED1,NaN,10002689
212,213,BNF_25PCT_2RE,1372,NFO,BANKNIFTY 04MAY23 43300 PE,MIS,MARKET,2.310000e+14,04-May-2023 15.09.22,BUY,...,75,01-Jan-0001 00.00.00,0.35,COMPLETE,0,False,50062865,RKEDEL,NaN,10002690
213,214,NF_25PCT_2RE,1374,NFO,NIFTY 04MAY23 18100 PE,MIS,MARKET,2.310000e+14,04-May-2023 15.09.25,BUY,...,150,01-Jan-0001 00.00.00,0.15,COMPLETE,0,False,50062865,RKEDEL,NaN,10002695
214,215,NF_25PCT_2RE,1374,NFO,NIFTY 04MAY23 18100 PE,MIS,MARKET,1.100299e+09,04-May-2023 15.09.25,BUY,...,150,01-Jan-0001 00.00.00,0.15,COMPLETE,0,False,ASDE1950,AD1_IIFL,NaN,10002696
215,216,NF_25PCT_2RE,1374,NFO,NIFTY 04MAY23 18100 PE,MIS,MARKET,2.020000e+11,04-May-2023 15.09.25,BUY,...,150,04-May-2023 15.09.25,0.15,COMPLETE,0,False,SIM1,SIMULATED1,NaN,10002697

In [3]:
df.shape

(216, 21)

In [4]:
df.insert(5,'Symbol',df['Exchange Symbol'].str.split().str.get(0))

In [5]:
df.columns

Index(['SNo', 'Portfolio Name', 'Leg ID', 'Exchange', 'Exchange Symbol',
       'Symbol', 'Product', 'Order Type', 'Order ID', 'Time', 'Txn', 'Qty',
       'Filled Qty', 'Exchg Time', 'Avg Price', 'Status', 'Limit Price',
       'Order Failed', 'User ID', 'User Alias', 'Remarks', 'Tag'],
      dtype='object')

## importing lot sizes

In [6]:
from packages.underlaying import lot_size

In [7]:
df.insert(11,'lot_size',df['Symbol'].apply(lot_size))

In [8]:
df.insert(13,'no_of_lots',(df['Qty']/df['lot_size']).astype(int))

## importing brokerage

In [9]:
from packages.brokerage import brokerage

In [10]:
df.insert(14,'brokerage_per_lot',df['Symbol'].apply(brokerage))

In [11]:
df.insert(15,'brokerage_cost',df['no_of_lots']*df['brokerage_per_lot'])

## importing additional cost

In [12]:
from packages.additionalCost import additional_cost

In [13]:
df.insert(16,'additional_cost',(df['Symbol'].apply(additional_cost)*df['brokerage_cost']).astype(int))

In [14]:
df.insert(17,'Total_cost',(df['brokerage_cost']+df['additional_cost']))

In [15]:
pd.set_option('Display.max_columns',None)

In [16]:
df

,SNo,Portfolio Name,Leg ID,Exchange,Exchange Symbol,Symbol,Product,Order Type,Order ID,Time,Txn,lot_size,Qty,no_of_lots,brokerage_per_lot,brokerage_cost,additional_cost,Total_cost,Filled Qty,Exchg Time,Avg Price,Status,Limit Price,Order Failed,User ID,User Alias,Remarks,Tag
0,1,NF_CSL_STRANGS,1355,NFO,NIFTY 04MAY23 18150 CE,NIFTY,MIS,MARKET,2.020000e+11,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,04-May-2023 09.18.11,15.90,COMPLETE,0,False,SIM1,SIMULATED1,NaN,10002264
1,2,NF_CSL_STRANGS,1355,NFO,NIFTY 04MAY23 18150 CE,NIFTY,MIS,MARKET,2.310000e+14,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,15.65,COMPLETE,0,False,50062865,RKEDEL,NaN,10002265
2,3,NF_CSL_STRANGS,1355,NFO,NIFTY 04MAY23 18150 CE,NIFTY,MIS,MARKET,1.100041e+09,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,15.53,COMPLETE,0,False,ASDE1950,AD1_IIFL,NaN,10002266
3,4,NF_CSL_STRANGS,1356,NFO,NIFTY 04MAY23 18050 PE,NIFTY,MIS,MARKET,2.310000e+14,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,17.90,COMPLETE,0,False,50062865,RKEDEL,NaN,10002269
4,5,NF_CSL_STRANGS,1356,NFO,NIFTY 04MAY23 18050 PE,NIFTY,MIS,MARKET,1.100041e+09,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,17.90,COMPLETE,0,False,ASDE1950,AD1_IIFL,NaN,10002270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,212,BNF_25PCT_2RE,1372,NFO,BANKNIFTY 04MAY23 43300 PE,BANKNIFTY,MIS,MARKET,2.020000e+11,04-May-2023 15.09.22,BUY,25,75,3,5,15,3,18,75,04-May-2023 15.09.22,0.35,COMPLETE,0,False,SIM1,SIMULATED1,NaN,10002689
212,213,BNF_25PCT_2RE,1372,NFO,BANKNIFTY 04MAY23 43300 PE,BANKNIFTY,MIS,MARKET,2.310000e+14,04-May-2023 15.09.22,BUY,25,75,3,5,15,3,18,75,01-Jan-0001 00.00.00,0.35,COMPLETE,0,False,50062865,RKEDEL,NaN,10002690
213,214,NF_25PCT_2RE,1374,NFO,NIFTY 04MAY23 18100 PE,NIFTY,MIS,MARKET,2.310000e+14,04-May-2023 15.09.25,BUY,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,0.15,COMPLETE,0,False,50062865,RKEDEL,NaN,10002695
214,215,NF_25PCT_2RE,1374,NFO,NIFTY 04MAY23 18100 PE,NIFTY,MIS,MARKET,1.100299e+09,04-May-2023 15.09.25,BUY,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,0.15,COMPLETE,0,False,ASDE1950,AD1_IIFL,NaN,10002696
215,216,NF_25PCT_2RE,1374,NFO,NIFTY 04MAY23 18100 PE,NIFTY,MIS,MARKET,2.020000e+11,04-May-2023 15.09.25,BUY,50,150,3,5,15,3,18,150,04-May-2023 15.09.25,0.15,COMPLETE,0,False,SIM1,SIMULATED1,NaN,10002697

In [17]:
def new_price(row):
    if row['Txn'] =='SELL':
        return (row['Avg Price']*row['Qty']-row['Total_cost'])/row['Qty']
    
    else:
        return (row['Avg Price']*row['Qty']+row['Total_cost'])/row['Qty']

In [18]:
df['New Price']= df.apply(new_price,axis=1)

In [19]:
df

,SNo,Portfolio Name,Leg ID,Exchange,Exchange Symbol,Symbol,Product,Order Type,Order ID,Time,Txn,lot_size,Qty,no_of_lots,brokerage_per_lot,brokerage_cost,additional_cost,Total_cost,Filled Qty,Exchg Time,Avg Price,Status,Limit Price,Order Failed,User ID,User Alias,Remarks,Tag,New Price
0,1,NF_CSL_STRANGS,1355,NFO,NIFTY 04MAY23 18150 CE,NIFTY,MIS,MARKET,2.020000e+11,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,04-May-2023 09.18.11,15.90,COMPLETE,0,False,SIM1,SIMULATED1,NaN,10002264,15.78
1,2,NF_CSL_STRANGS,1355,NFO,NIFTY 04MAY23 18150 CE,NIFTY,MIS,MARKET,2.310000e+14,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,15.65,COMPLETE,0,False,50062865,RKEDEL,NaN,10002265,15.53
2,3,NF_CSL_STRANGS,1355,NFO,NIFTY 04MAY23 18150 CE,NIFTY,MIS,MARKET,1.100041e+09,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,15.53,COMPLETE,0,False,ASDE1950,AD1_IIFL,NaN,10002266,15.41
3,4,NF_CSL_STRANGS,1356,NFO,NIFTY 04MAY23 18050 PE,NIFTY,MIS,MARKET,2.310000e+14,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,17.90,COMPLETE,0,False,50062865,RKEDEL,NaN,10002269,17.78
4,5,NF_CSL_STRANGS,1356,NFO,NIFTY 04MAY23 18050 PE,NIFTY,MIS,MARKET,1.100041e+09,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,17.90,COMPLETE,0,False,ASDE1950,AD1_IIFL,NaN,10002270,17.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,212,BNF_25PCT_2RE,1372,NFO,BANKNIFTY 04MAY23 43300 PE,BANKNIFTY,MIS,MARKET,2.020000e+11,04-May-2023 15.09.22,BUY,25,75,3,5,15,3,18,75,04-May-2023 15.09.22,0.35,COMPLETE,0,False,SIM1,SIMULATED1,NaN,10002689,0.59
212,213,BNF_25PCT_2RE,1372,NFO,BANKNIFTY 04MAY23 43300 PE,BANKNIFTY,MIS,MARKET,2.310000e+14,04-May-2023 15.09.22,BUY,25,75,3,5,15,3,18,75,01-Jan-0001 00.00.00,0.35,COMPLETE,0,False,50062865,RKEDEL,NaN,10002690,0.59
213,214,NF_25PCT_2RE,1374,NFO,NIFTY 04MAY23 18100 PE,NIFTY,MIS,MARKET,2.310000e+14,04-May-2023 15.09.25,BUY,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,0.15,COMPLETE,0,False,50062865,RKEDEL,NaN,10002695,0.27
214,215,NF_25PCT_2RE,1374,NFO,NIFTY 04MAY23 18100 PE,NIFTY,MIS,MARKET,1.100299e+09,04-May-2023 15.09.25,BUY,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,0.15,COMPLETE,0,False,ASDE1950,AD1_IIFL,NaN,10002696,0.27
215,216,NF_25PCT_2RE,1374,NFO,NIFTY 04MAY23 18100 PE,NIFTY,MIS,MARKET,2.020000e+11,04-May-2023 15.09.25,BUY,50,150,3,5,15,3,18,150,04-May-2023 15.09.25,0.15,COMPLETE,0,False,SIM1,SIMULATED1,NaN,10002697,0.27

In [20]:
def new_amount(row):
    if row['Txn'] == 'SELL':
        return row['New Price']*row['Qty']
    
    else:
        return -(row['New Price']*row['Qty'])

In [21]:
df['New Amount']=df.apply(new_amount,axis=1)

In [22]:
df

,SNo,Portfolio Name,Leg ID,Exchange,Exchange Symbol,Symbol,Product,Order Type,Order ID,Time,Txn,lot_size,Qty,no_of_lots,brokerage_per_lot,brokerage_cost,additional_cost,Total_cost,Filled Qty,Exchg Time,Avg Price,Status,Limit Price,Order Failed,User ID,User Alias,Remarks,Tag,New Price,New Amount
0,1,NF_CSL_STRANGS,1355,NFO,NIFTY 04MAY23 18150 CE,NIFTY,MIS,MARKET,2.020000e+11,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,04-May-2023 09.18.11,15.90,COMPLETE,0,False,SIM1,SIMULATED1,NaN,10002264,15.78,2367.00
1,2,NF_CSL_STRANGS,1355,NFO,NIFTY 04MAY23 18150 CE,NIFTY,MIS,MARKET,2.310000e+14,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,15.65,COMPLETE,0,False,50062865,RKEDEL,NaN,10002265,15.53,2329.50
2,3,NF_CSL_STRANGS,1355,NFO,NIFTY 04MAY23 18150 CE,NIFTY,MIS,MARKET,1.100041e+09,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,15.53,COMPLETE,0,False,ASDE1950,AD1_IIFL,NaN,10002266,15.41,2311.50
3,4,NF_CSL_STRANGS,1356,NFO,NIFTY 04MAY23 18050 PE,NIFTY,MIS,MARKET,2.310000e+14,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,17.90,COMPLETE,0,False,50062865,RKEDEL,NaN,10002269,17.78,2667.00
4,5,NF_CSL_STRANGS,1356,NFO,NIFTY 04MAY23 18050 PE,NIFTY,MIS,MARKET,1.100041e+09,04-May-2023 09.18.11,SELL,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,17.90,COMPLETE,0,False,ASDE1950,AD1_IIFL,NaN,10002270,17.78,2667.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,212,BNF_25PCT_2RE,1372,NFO,BANKNIFTY 04MAY23 43300 PE,BANKNIFTY,MIS,MARKET,2.020000e+11,04-May-2023 15.09.22,BUY,25,75,3,5,15,3,18,75,04-May-2023 15.09.22,0.35,COMPLETE,0,False,SIM1,SIMULATED1,NaN,10002689,0.59,-44.25
212,213,BNF_25PCT_2RE,1372,NFO,BANKNIFTY 04MAY23 43300 PE,BANKNIFTY,MIS,MARKET,2.310000e+14,04-May-2023 15.09.22,BUY,25,75,3,5,15,3,18,75,01-Jan-0001 00.00.00,0.35,COMPLETE,0,False,50062865,RKEDEL,NaN,10002690,0.59,-44.25
213,214,NF_25PCT_2RE,1374,NFO,NIFTY 04MAY23 18100 PE,NIFTY,MIS,MARKET,2.310000e+14,04-May-2023 15.09.25,BUY,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,0.15,COMPLETE,0,False,50062865,RKEDEL,NaN,10002695,0.27,-40.50
214,215,NF_25PCT_2RE,1374,NFO,NIFTY 04MAY23 18100 PE,NIFTY,MIS,MARKET,1.100299e+09,04-May-2023 15.09.25,BUY,50,150,3,5,15,3,18,150,01-Jan-0001 00.00.00,0.15,COMPLETE,0,False,ASDE1950,AD1_IIFL,NaN,10002696,0.27,-40.50
215,216,NF_25PCT_2RE,1374,NFO,NIFTY 04MAY23 18100 PE,NIFTY,MIS,MARKET,2.020000e+11,04-May-2023 15.09.25,BUY,50,150,3,5,15,3,18,150,04-May-2023 15.09.25,0.15,COMPLETE,0,False,SIM1,SIMULATED1,NaN,10002697,0.27,-40.50

In [23]:
df.columns

Index(['SNo', 'Portfolio Name', 'Leg ID', 'Exchange', 'Exchange Symbol',
       'Symbol', 'Product', 'Order Type', 'Order ID', 'Time', 'Txn',
       'lot_size', 'Qty', 'no_of_lots', 'brokerage_per_lot', 'brokerage_cost',
       'additional_cost', 'Total_cost', 'Filled Qty', 'Exchg Time',
       'Avg Price', 'Status', 'Limit Price', 'Order Failed', 'User ID',
       'User Alias', 'Remarks', 'Tag', 'New Price', 'New Amount'],
      dtype='object')

In [31]:
df['Portfolio Name'].value_counts()

Portfolio Name
NF_CSL_STRANGS          24
BNF_CSL_STRANGS         24
NF_CSL_STRANGS REX1     24
NF_CSL_STRANGS REX2     24
BNF_CSL_STRANGS REX1    24
BNF_CSL_STRANGS REX2    24
NF_70PCT                12
BNF_70PCT               12
BNF_CP_2RE              12
NF_CP_2RE               12
BNF_25PCT_2RE           12
NF_25PCT_2RE            12
Name: count, dtype: int64

### extracted main portfolio names

In [40]:
df.insert(2,'P_names',df['Portfolio Name'].str.extract('(CSL_STRANGS|70PCT|CP_2RE|25PCT_2RE)'))

In [54]:
grp = df.groupby(['User Alias','P_names'])[['New Price','New Amount']].sum().reset_index()
grp

    User Alias      P_names  New Price  New Amount
0     AD1_IIFL    25PCT_2RE     510.35     8072.25
1     AD1_IIFL        70PCT     593.41     1493.25
2     AD1_IIFL       CP_2RE     634.76     3546.00
3     AD1_IIFL  CSL_STRANGS     723.72     5683.50
4       RKEDEL    25PCT_2RE     513.17     8277.00
5       RKEDEL        70PCT     593.04     1806.75
6       RKEDEL       CP_2RE     635.57     3486.75
7       RKEDEL  CSL_STRANGS     723.38     5347.50
8   SIMULATED1    25PCT_2RE     514.65     8556.00
9   SIMULATED1        70PCT     597.44     1410.75
10  SIMULATED1       CP_2RE     640.34     3663.00
11  SIMULATED1  CSL_STRANGS     728.03     5746.50

In [62]:
grp[grp['User Alias']=='AD1_IIFL']['New Amount'].sum()

18795.000000000004