In [1]:
# pip install yfinance

## working file code

In [2]:
import numpy as np
import pandas as pd
import yfinance as yf

symbol_df = pd.read_csv('https://raw.githubusercontent.com/Keshkarki/rough-file/master/symbol.csv',header=None).squeeze()
equity_details = pd.read_csv('EQUITY_L.csv')['SYMBOL']
equity_50 = equity_details[equity_details.isin(symbol_df)]

In [3]:
len(equity_50)

50

## downloading csv files single at a time

In [4]:
# for name in equity_50[ :2 ]:
#     data = yf.download(f"{name}.NS", start='2012-01-01', end='2023-05-01')

#     data['Symbol'] = name    # add new column with symbol
#     data.to_csv(f"C:\\Users\\Admin\\OneDrive\\Desktop\\Nifty50_data\\Data3\\{name}.NS.csv")

## PART-1 combine all files

### demo file downloading tesla

In [5]:
# import datetime as dt
# start_date = pd.Timestamp.now() - pd.Timedelta(days=365*10)
# end_date = pd.Timestamp.now()

# df = yf.download(tickers='TSLA',start=start_date,end=end_date)

### working files

In [6]:
data_list = []

start_date = pd.Timestamp.now() - pd.Timedelta(days=365*10)
end_date = pd.Timestamp.now()

for name in equity_50:
    data = yf.download(tickers=F"{name}.NS",start=start_date, end=end_date)
    data['Symbol'] = name
    data_list.append(data)

combined_data = pd.concat(data_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
combined_data

,Open,High,Low,Close,Adj Close,Volume,Symbol
Date,,,,,,,
2013-05-10,35.176624,35.291580,34.486889,34.747456,30.428123,4858311,ADANIENT
2013-05-13,34.548199,34.632500,32.946472,33.291344,29.153019,5525517,ADANIENT
2013-05-14,33.230034,33.291344,32.570950,32.915817,28.824177,5024424,ADANIENT
2013-05-15,32.954136,35.008022,32.915817,34.647827,30.340879,6926560,ADANIENT
2013-05-16,34.824093,35.559814,34.502216,35.122978,30.756969,6178676,ADANIENT
...,...,...,...,...,...,...,...
2023-04-28,380.000000,388.000000,380.000000,385.000000,385.000000,13854703,WIPRO
2023-05-02,389.000000,392.149994,387.450012,388.350006,388.350006,4873304,WIPRO
2023-05-03,388.350006,388.350006,382.049988,385.100006,385.100006,2414244,WIPRO
2023-05-04,384.750000,386.149994,383.049988,383.700012,383.700012,3126679,WIPRO
2023-05-05,382.750000,384.399994,379.000000,379.399994,379.399994,3951097,WIPRO

### cal daily return

In [8]:
combined_data['daily_return'] = (((combined_data['Adj Close'] - combined_data['Adj Close'].shift(1)) / combined_data['Adj Close'].shift(1))*100).fillna(method='bfill')
combined_data.insert(0,'day',combined_data.index.day.to_list())

In [9]:
# Resample daily data to monthly data
monthly_data = combined_data.resample('BM').last()

# Calculate monthly returns
monthly_data['monthly_return'] = ((monthly_data['Adj Close'] - monthly_data['Adj Close'].shift(1)) / monthly_data['Adj Close'].shift(1))*100

# Drop the first row as it will have NaN value
monthly_data = monthly_data.dropna()

# Print the monthly returns
print(monthly_data['monthly_return'])

Date
2013-06-28       8.068358
2013-07-31      25.501438
2013-08-30      10.410943
2013-09-30      -2.181550
2013-10-31       0.982983
                 ...
2023-01-31       1.803286
2023-02-28      -2.958510
2023-03-31      -5.632344
2023-04-28       5.407255
2023-05-31    5632.091112
Freq: BM, Name: monthly_return, Length: 120, dtype: float64

In [10]:
merged_data = combined_data.reset_index()
monthly_data = monthly_data.reset_index()


merged_data = combined_data.merge(monthly_data[['Date', 'monthly_return']], how='left', on='Date')
merged_data['monthly_return'] = merged_data['monthly_return'].fillna(0)
merged_data = merged_data.set_index('Date')

In [11]:
merged_data.iloc[60:60*2]

,day,Open,High,Low,Close,Adj Close,Volume,Symbol,daily_return,monthly_return
Date,,,,,,,,,,
2013-08-02,2,26.976410,27.428572,22.301521,24.186804,22.304230,34902456,ADANIENT,-10.594908,0.000000
2013-08-05,5,24.983833,26.056759,23.849600,25.719555,23.717678,11938093,ADANIENT,6.337131,0.000000
2013-08-06,6,25.443659,25.512632,24.148485,25.152437,23.194702,9566905,ADANIENT,-2.205005,0.000000
2013-08-07,7,24.830559,26.363310,24.569990,25.619925,23.625803,10953256,ADANIENT,1.858618,0.000000
2013-08-08,8,25.596933,26.669861,24.930187,25.504969,23.519796,20369250,ADANIENT,-0.448690,0.000000
2013-08-12,12,25.596933,26.194708,25.290384,25.941803,23.922630,19867217,ADANIENT,1.712744,0.000000
2013-08-13,13,25.750210,26.501257,25.321039,26.233027,24.191185,10418909,ADANIENT,1.122597,0.000000
2013-08-14,14,25.857502,26.654531,24.922523,25.872829,23.859026,10171948,ADANIENT,-1.373058,0.000000
2013-08-16,16,25.443659,25.627588,24.485689,24.547001,22.636391,8454363,ADANIENT,-5.124414,0.000000
2013-08-19,19,24.355406,25.213747,23.451082,24.884207,22.947350,6435502,ADANIENT,1.373712,0.000000
2013-08-20,20,24.140821,25.581608,23.918571,24.638966,22.721195,6129105,ADANIENT,-0.985536,0.000000
2013-08-21,21,24.761585,25.351694,23.481737,24.048857,22.177019,5655766,ADANIENT,-2.395015,0.000000
2013-08-22,22,23.550713,25.504969,23.527721,25.275057,23.307777,7679175,ADANIENT,5.098784,0.000000
2013-08-23,23,25.543287,25.665909,24.294096,25.244402,23.279509,6427960,ADANIENT,-0.121285,0.000000
2013-08-26,26,25.137110,25.244402,23.474075,23.979881,22.113413,13769500,ADANIENT,-5.009108,0.000000
2013-08-27,27,23.673332,23.880255,22.263203,22.692371,20.926117,12612697,ADANIENT,-5.369121,0.000000
2013-08-28,28,22.224882,23.144533,21.236259,22.439468,20.692900,19936263,ADANIENT,-1.114479,0.000000
2013-08-29,29,22.700035,23.366781,21.887678,23.113878,21.314814,22981090,ADANIENT,3.005446,0.000000
2013-08-30,30,22.891630,23.075560,21.197941,21.688419,20.000305,38783544,ADANIENT,-6.167112,10.410943
2013-09-02,2,21.581127,21.611782,20.814753,21.328222,19.668142,16436790,ADANIENT,-1.660789,0.000000
2013-09-03,3,21.412525,21.948988,20.331936,20.531195,18.933153,14932325,ADANIENT,-3.736953,0.000000
2013-09-04,4,20.500540,20.845407,19.381632,20.393246,18.805941,14010165,ADANIENT,-0.671904,0.000000
2013-09-05,5,20.745779,21.228596,20.385582,20.738115,19.123968,10413788,ADANIENT,1.691101,0.000000
2013-09-06,6,20.945036,21.305233,20.469885,20.906715,19.279444,7451825,ADANIENT,0.812988,0.000000
2013-09-10,10,21.174950,21.673094,21.014009,21.435516,19.767086,9150934,ADANIENT,2.529338,0.000000
2013-09-11,11,21.098310,22.194227,20.998684,21.780384,20.085112,14494536,ADANIENT,1.608864,0.000000
2013-09-12,12,21.910669,22.263203,20.730452,20.929708,19.300652,11604060,ADANIENT,-3.905679,0.000000
2013-09-13,13,21.213268,22.033289,21.151958,21.619448,19.936703,23539139,ADANIENT,3.295491,0.000000
2013-09-16,16,22.117590,22.117590,20.538857,20.722788,19.109835,15267232,ADANIENT,-4.147466,0.000000
2013-09-17,17,20.615496,21.090649,20.262962,20.730452,19.116901,6935929,ADANIENT,0.036980,0.000000
2013-09-18,18,20.554186,21.037001,20.469885,20.776434,19.159304,5344398,ADANIENT,0.221805,0.000000
2013-09-19,19,21.512154,23.060232,21.151958,22.891630,21.109865,47378399,ADANIENT,10.180754,0.000000
2013-09-20,20,23.106215,23.972219,21.466171,23.152197,21.350149,26847864,ADANIENT,1.138254,0.000000
2013-09-23,23,22.960604,23.520058,21.642439,22.186563,20.459677,22715143,ADANIENT,-4.170802,0.000000
2013-09-24,24,21.903006,22.891630,21.696083,22.500778,20.749435,10685782,ADANIENT,1.416243,0.000000
2013-09-25,25,22.401150,22.684708,21.558138,21.887678,20.184057,8509473,ADANIENT,-2.724788,0.000000
2013-09-26,26,21.933661,22.316849,21.473835,21.857023,20.155790,12308962,ADANIENT,-0.140046,0.000000
2013-09-27,27,21.765059,22.960604,21.688419,22.309183,20.572754,11017728,ADANIENT,2.068704,0.000000
2013-09-30,30,22.079271,22.378159,21.420189,21.573463,19.894297,7380209,ADANIENT,-3.297844,-2.181550
2013-10-01,1,21.611782,22.048616,21.228596,21.665428,19.979107,6523494,ADANIENT,0.426304,0.000000
2013-10-03,3,21.780384,22.799664,21.765059,22.554424,20.798906,9825903,ADANIENT,4.103284,0.000000
2013-10-04,4,22.240211,22.991259,22.240211,22.730692,20.961451,15952889,ADANIENT,0.781504,0.000000
2013-10-07,7,22.684708,23.259489,22.339840,23.006586,21.215874,27226040,ADANIENT,1.213767,0.000000
2013-10-08,8,23.374447,23.642677,23.090887,23.244162,21.434958,8422766,ADANIENT,1.032641,0.000000
2013-10-09,9,23.267153,24.278769,23.190516,24.156149,22.275963,9382263,ADANIENT,3.923522,0.000000
2013-10-10,10,24.271105,24.661957,23.818945,24.087175,22.212355,6977156,ADANIENT,-0.285546,0.000000
2013-10-11,11,24.386061,25.596933,23.818945,25.183092,23.222973,10454688,ADANIENT,4.549802,0.000000
2013-10-14,14,25.550953,26.409292,25.282721,25.964792,23.943827,10173083,ADANIENT,3.104055,0.000000
2013-10-15,15,26.187042,26.516584,24.922523,25.734882,23.731813,13512948,ADANIENT,-0.885461,0.000000
2013-10-17,17,25.635254,26.095078,25.405340,25.596933,23.604601,7826876,ADANIENT,-0.536042,0.000000
2013-10-18,18,25.673573,27.267632,25.673573,26.876781,24.784832,10059679,ADANIENT,5.000004,0.000000
2013-10-21,21,26.968746,31.107174,26.838463,30.348461,27.986298,52875445,ADANIENT,12.917036,0.000000
2013-10-22,22,30.417435,30.486408,29.198898,29.712370,27.399714,11596492,ADANIENT,-2.095969,0.000000
2013-10-23,23,29.865644,30.884924,29.152916,30.371452,28.007498,10033406,ADANIENT,2.218214,0.000000
2013-10-24,24,30.057240,32.747215,30.057240,31.850557,29.371475,28867044,ADANIENT,4.870044,0.000000
2013-10-25,25,31.743263,32.003834,29.513111,29.720032,27.406780,16997468,ADANIENT,-6.689126,0.000000
2013-10-28,28,29.444138,32.157108,29.444138,31.766254,29.293736,27368360,ADANIENT,6.884994,0.000000
2013-10-29,29,31.927195,32.862171,30.769968,32.586277,30.049932,20911693,ADANIENT,2.581429,0.000000
2013-10-30,30,32.708897,33.873787,32.088135,32.348701,29.830845,18020642,ADANIENT,-0.729079,0.000000
2013-10-31,31,32.187763,32.417675,30.547718,31.827564,29.350273,24582623,ADANIENT,-1.610989,0.982983

In [12]:
# merged_data.to_csv('Combined_data3.csv')

## PART2 - downloading index data

In [13]:
start_date = pd.Timestamp.now() - pd.Timedelta(days=365*10)
end_date = pd.Timestamp.now()

In [14]:
import numpy as np
import pandas as pd
import yfinance as yf

start_date = pd.Timestamp.now() - pd.Timedelta(days=365*10)
end_date = pd.Timestamp.now()


index_df = yf.download('^NSEI',start=start_date, end=end_date)
index_df['Symbol'] = 'index'

index_df['daily_return'] = (((index_df['Adj Close'] - index_df['Adj Close'].shift(1))/index_df['Adj Close'].shift(1))*100).fillna(method='bfill')
index_df.insert(0,'day',index_df.index.day.to_list())
index_df

[*********************100%***********************]  1 of 1 completed

,day,Open,High,Low,Close,Adj Close,Volume,Symbol,daily_return
Date,,,,,,,,,
2013-05-10,10,6046.250000,6105.299805,6045.600098,6094.750000,6094.750000,111400,index,-1.875381
2013-05-13,13,6098.200195,6104.950195,5972.899902,5980.450195,5980.450195,107900,index,-1.875381
2013-05-14,14,5989.700195,6026.200195,5970.049805,5995.399902,5995.399902,119300,index,0.249976
2013-05-15,15,6018.850098,6157.100098,6018.850098,6146.750000,6146.750000,153900,index,2.524437
2013-05-16,16,6128.250000,6187.299805,6128.250000,6169.899902,6169.899902,158600,index,0.376620
...,...,...,...,...,...,...,...,...,...
2023-05-02,2,18124.800781,18180.250000,18101.750000,18147.650391,18147.650391,265200,index,0.457517
2023-05-03,3,18113.800781,18116.349609,18042.400391,18089.849609,18089.849609,226200,index,-0.318503
2023-05-04,4,18081.000000,18267.449219,18066.699219,18255.800781,18255.800781,226600,index,0.917372
2023-05-05,5,18117.300781,18216.949219,18055.449219,18069.000000,18069.000000,239700,index,-1.023241
2023-05-08,8,18120.599609,18218.599609,18100.300781,18195.500000,18195.500000,0,index,0.700094

In [15]:
# Resample daily data to monthly data
monthly_data2 = index_df.resample('BM').last()

# Calculate monthly returns
monthly_data2['monthly_return'] = ((monthly_data2['Adj Close'] - monthly_data2['Adj Close'].shift(1)) / monthly_data2['Adj Close'].shift(1))*100

# Drop the first row as it will have NaN value
monthly_data2 = monthly_data2.dropna()

# Print the monthly returns
print(monthly_data2['monthly_return'])

Date
2013-06-28   -2.401457
2013-07-31   -1.715111
2013-08-30   -4.705681
2013-09-30    4.815600
2013-10-31    9.831223
                ...
2023-01-31   -2.447628
2023-02-28   -2.028072
2023-03-31    0.322474
2023-04-28    4.062559
2023-05-31    0.722391
Freq: BM, Name: monthly_return, Length: 120, dtype: float64

In [16]:
index_df = index_df.reset_index()
monthly_data2 = monthly_data2.reset_index()

index_df = index_df.merge(monthly_data2[['Date', 'monthly_return']], how='left', on='Date')
index_df['monthly_return'] = index_df['monthly_return'].fillna(0)

index_df = index_df.set_index('Date')

In [17]:
index_df.iloc[50:100]

,day,Open,High,Low,Close,Adj Close,Volume,Symbol,daily_return,monthly_return
Date,,,,,,,,,,
2013-07-19,19,6057.200195,6066.850098,6020.250000,6029.200195,6029.200195,163300,index,-0.146564,0.000000
2013-07-22,22,6009.750000,6064.149902,6004.250000,6031.799805,6031.799805,115200,index,0.043117,0.000000
2013-07-23,23,6064.299805,6093.350098,6061.299805,6077.799805,6077.799805,126500,index,0.762625,0.000000
2013-07-24,24,6032.200195,6047.250000,5962.600098,5990.500000,5990.500000,151900,index,-1.436372,0.000000
2013-07-25,25,5970.399902,5990.649902,5896.399902,5907.500000,5907.500000,237100,index,-1.385527,0.000000
2013-07-26,26,5937.950195,5944.500000,5869.500000,5886.200195,5886.200195,174500,index,-0.360555,0.000000
2013-07-29,29,5869.950195,5886.000000,5825.799805,5831.649902,5831.649902,173400,index,-0.926749,0.000000
2013-07-30,30,5836.049805,5861.299805,5747.600098,5755.049805,5755.049805,181500,index,-1.313524,0.000000
2013-07-31,31,5738.350098,5752.100098,5675.750000,5742.000000,5742.000000,235500,index,-0.226754,-1.715111
2013-08-01,1,5776.899902,5808.500000,5676.850098,5727.850098,5727.850098,216800,index,-0.246428,0.000000
2013-08-02,2,5750.049805,5761.850098,5649.000000,5677.899902,5677.899902,222500,index,-0.872058,0.000000
2013-08-05,5,5682.399902,5721.000000,5661.500000,5685.399902,5685.399902,197200,index,0.132091,0.000000
2013-08-06,6,5664.899902,5664.899902,5521.799805,5542.250000,5542.250000,216200,index,-2.517851,0.000000
2013-08-07,7,5549.299805,5561.450195,5486.850098,5519.100098,5519.100098,245000,index,-0.417699,0.000000
2013-08-08,8,5510.049805,5577.600098,5510.049805,5565.649902,5565.649902,204900,index,0.843431,0.000000
2013-08-12,12,5606.700195,5644.100098,5557.100098,5612.399902,5612.399902,195700,index,0.839974,0.000000
2013-08-13,13,5600.250000,5704.750000,5578.899902,5699.299805,5699.299805,223000,index,1.548355,0.000000
2013-08-14,14,5715.399902,5754.549805,5690.200195,5742.299805,5742.299805,223700,index,0.754479,0.000000
2013-08-16,16,5705.450195,5716.600098,5496.049805,5507.850098,5507.850098,248100,index,-4.082854,0.000000
2013-08-19,19,5497.549805,5499.649902,5360.649902,5414.750000,5414.750000,219700,index,-1.690316,0.000000
2013-08-20,20,5353.450195,5417.799805,5306.350098,5401.450195,5401.450195,261100,index,-0.245622,0.000000
2013-08-21,21,5494.450195,5504.100098,5268.450195,5302.549805,5302.549805,255000,index,-1.830997,0.000000
2013-08-22,22,5282.799805,5418.950195,5254.049805,5408.450195,5408.450195,284500,index,1.997160,0.000000
2013-08-23,23,5428.750000,5478.799805,5377.799805,5471.750000,5471.750000,251500,index,1.170387,0.000000
2013-08-26,26,5499.399902,5528.700195,5454.450195,5476.500000,5476.500000,242000,index,0.086810,0.000000
2013-08-27,27,5426.500000,5427.399902,5274.250000,5287.450195,5287.450195,306000,index,-3.452019,0.000000
2013-08-28,28,5233.450195,5317.700195,5118.850098,5285.000000,5285.000000,336000,index,-0.046340,0.000000
2013-08-29,29,5316.500000,5428.899902,5303.000000,5409.049805,5409.049805,326500,index,2.347205,0.000000
2013-08-30,30,5407.450195,5493.299805,5360.200195,5471.799805,5471.799805,336400,index,1.160093,-4.705681
2013-09-02,2,5480.250000,5564.899902,5478.850098,5550.750000,5550.750000,214200,index,1.442856,0.000000
2013-09-03,3,5574.700195,5580.950195,5323.750000,5341.450195,5341.450195,250300,index,-3.770658,0.000000
2013-09-04,4,5358.649902,5460.250000,5318.899902,5448.100098,5448.100098,237200,index,1.996647,0.000000
2013-09-05,5,5553.750000,5625.750000,5552.700195,5592.950195,5592.950195,274900,index,2.658727,0.000000
2013-09-06,6,5617.450195,5688.600098,5566.149902,5680.399902,5680.399902,253000,index,1.563570,0.000000
2013-09-10,10,5738.500000,5904.850098,5738.200195,5896.750000,5896.750000,275200,index,3.808712,0.000000
2013-09-11,11,5887.250000,5924.350098,5832.700195,5913.149902,5913.149902,265000,index,0.278118,0.000000
2013-09-12,12,5931.149902,5932.000000,5815.799805,5850.700195,5850.700195,273000,index,-1.056116,0.000000
2013-09-13,13,5828.000000,5884.299805,5822.899902,5850.600098,5850.600098,190800,index,-0.001711,0.000000
2013-09-16,16,5930.299805,5957.250000,5798.149902,5840.549805,5840.549805,219500,index,-0.171782,0.000000
2013-09-17,17,5824.200195,5857.799805,5804.899902,5850.200195,5850.200195,157900,index,0.165231,0.000000
2013-09-18,18,5872.750000,5916.899902,5840.200195,5899.450195,5899.450195,153600,index,0.841852,0.000000
2013-09-19,19,6044.149902,6142.500000,6040.149902,6115.549805,6115.549805,287200,index,3.663047,0.000000
2013-09-20,20,6104.549805,6130.950195,5932.850098,6012.100098,6012.100098,318600,index,-1.691585,0.000000
2013-09-23,23,5945.799805,5989.399902,5871.399902,5889.750000,5889.750000,188300,index,-2.035064,0.000000
2013-09-24,24,5855.000000,5938.399902,5854.549805,5892.450195,5892.450195,187600,index,0.045846,0.000000
2013-09-25,25,5901.549805,5910.549805,5811.100098,5873.850098,5873.850098,200200,index,-0.315660,0.000000
2013-09-26,26,5872.799805,5917.649902,5864.100098,5882.250000,5882.250000,220600,index,0.143005,0.000000
2013-09-27,27,5905.549805,5909.200195,5819.299805,5833.200195,5833.200195,163100,index,-0.833861,0.000000
2013-09-30,30,5801.049805,5810.200195,5718.500000,5735.299805,5735.299805,155700,index,-1.678331,4.815600
2013-10-01,1,5756.100098,5786.450195,5700.950195,5780.049805,5780.049805,159200,index,0.780256,0.000000

## PART4- merging stock_df with index_df

In [18]:
merged_data = merged_data.reset_index()
index_df = index_df.reset_index()

merged_df = merged_data.merge(index_df[['Symbol', 'Date', 'daily_return', 'monthly_return']], on=['Date'], how='left')
merged_df.fillna({'monthly_return': 0})

merged_df = merged_df.set_index('Date').iloc[1:]

In [19]:
merged_df.head(50)

,day,Open,High,Low,Close,Adj Close,Volume,Symbol_x,daily_return_x,monthly_return_x,Symbol_y,daily_return_y,monthly_return_y
Date,,,,,,,,,,,,,
2013-05-13,13,34.548199,34.632500,32.946472,33.291344,29.153019,5525517,ADANIENT,-4.190546,0.000000,index,-1.875381,0.000000
2013-05-14,14,33.230034,33.291344,32.570950,32.915817,28.824177,5024424,ADANIENT,-1.127987,0.000000,index,0.249976,0.000000
2013-05-15,15,32.954136,35.008022,32.915817,34.647827,30.340879,6926560,ADANIENT,5.261911,0.000000,index,2.524437,0.000000
2013-05-16,16,34.824093,35.559814,34.502216,35.122978,30.756969,6178676,ADANIENT,1.371384,0.000000,index,0.376620,0.000000
2013-05-17,17,35.122978,36.540775,34.640163,36.073284,31.589146,6804198,ADANIENT,2.705651,0.000000,index,0.282013,0.000000
2013-05-20,20,36.632740,38.510357,36.019638,37.230511,32.602520,28470509,ADANIENT,3.207983,0.000000,index,-0.491327,0.000000
2013-05-21,21,37.307148,37.866604,36.249550,36.747696,32.179722,13781602,ADANIENT,-1.296827,0.000000,index,-0.695152,0.000000
2013-05-22,22,36.824333,37.146210,35.444859,35.682434,31.246876,7150341,ADANIENT,-2.898863,0.000000,index,-0.320572,0.000000
2013-05-23,23,35.406536,35.460182,32.892826,33.574902,29.401331,10438534,ADANIENT,-5.906334,0.000000,index,-2.091233,0.000000
2013-05-24,24,33.743504,34.233986,33.076756,33.889114,29.676485,6066166,ADANIENT,0.935856,0.000000,index,0.276519,0.000000
2013-05-27,27,33.797150,34.854748,33.567238,34.525208,30.233501,5143263,ADANIENT,1.876962,0.000000,index,1.664565,0.000000
2013-05-28,28,34.632500,34.962040,33.735840,34.004070,29.777151,6470981,ADANIENT,-1.509419,0.000000,index,0.461933,0.000000
2013-05-29,29,33.720512,34.325951,33.115074,33.651539,29.468443,8827000,ADANIENT,-1.036728,0.000000,index,-0.113728,0.000000
2013-05-30,30,34.333614,34.594181,33.766495,34.050053,29.817417,10536834,ADANIENT,1.184230,0.000000,index,0.323542,0.000000
2013-05-31,31,33.735840,34.249310,32.172436,32.448330,28.414797,6981370,ADANIENT,-4.704030,0.000000,index,-2.255037,0.000000
2013-06-03,3,32.494312,32.524967,31.375404,31.873549,27.911470,8179667,ADANIENT,-1.771353,0.000000,index,-0.779331,0.000000
2013-06-04,4,31.881212,32.555622,31.421387,31.635971,27.703419,7527030,ADANIENT,-0.745398,0.000000,index,-0.334208,0.000000
2013-06-05,5,31.697283,32.816189,31.421387,32.662914,28.602709,7915932,ADANIENT,3.246134,0.000000,index,0.074330,0.000000
2013-06-06,6,32.632259,33.076756,31.911867,32.969467,28.871155,6707575,ADANIENT,0.938533,0.000000,index,-0.041362,0.000000
2013-06-07,7,33.007782,33.406300,31.927195,32.134113,28.139637,5566339,ADANIENT,-2.533732,0.000000,index,-0.682269,0.000000
2013-06-10,10,32.356365,32.632259,31.199139,31.582325,27.656443,6139381,ADANIENT,-1.717131,0.000000,index,-0.051012,0.000000
2013-06-11,11,31.268110,31.528679,28.677763,30.187523,26.435024,12846212,ADANIENT,-4.416397,0.000000,index,-1.517526,0.000000
2013-06-12,12,30.041910,30.463417,26.976410,28.034008,24.549204,25791012,ADANIENT,-7.133795,0.000000,index,-0.494051,0.000000
2013-06-13,13,27.589510,28.026344,26.892109,27.198660,23.817696,12213676,ADANIENT,-2.979764,0.000000,index,-1.060729,0.000000
2013-06-14,14,27.543528,27.842415,27.007065,27.474554,24.059294,20376459,ADANIENT,1.014364,0.000000,index,1.917843,0.000000
2013-06-17,17,27.581846,27.589510,25.987785,27.244640,23.857962,13485416,ADANIENT,-0.836816,0.000000,index,0.717063,0.000000
2013-06-18,18,27.390251,28.953657,26.838463,28.555143,25.005558,12891432,ADANIENT,4.810119,0.000000,index,-0.623067,0.000000
2013-06-19,19,28.662436,29.735361,28.141300,29.428810,25.770622,10764843,ADANIENT,3.059577,0.000000,index,0.148787,0.000000
2013-06-20,20,29.106934,29.106934,27.466890,28.056999,24.569340,13266463,ADANIENT,-4.661442,0.000000,index,-2.857145,0.000000
2013-06-21,21,27.742785,28.861692,27.367262,28.018681,24.535784,25039983,ADANIENT,-0.136577,0.000000,index,0.207748,0.000000
2013-06-24,24,27.727457,28.325230,26.838463,27.919050,24.448536,7813482,ADANIENT,-0.355594,0.000000,index,-1.365644,0.000000
2013-06-25,25,27.919050,29.459467,27.236977,28.915339,25.320980,11158827,ADANIENT,3.568492,0.000000,index,0.337196,0.000000
2013-06-26,26,29.329182,29.329182,27.957371,28.432524,24.898180,13775659,ADANIENT,-1.669762,0.000000,index,-0.363693,0.000000
2013-06-27,27,28.854029,29.796671,28.601126,29.405821,25.750490,12271135,ADANIENT,3.423183,0.000000,index,1.675701,0.000000
2013-06-28,28,29.643396,32.187763,29.643396,31.582325,27.656443,11060762,ADANIENT,7.401616,8.068358,index,2.813098,-2.401457
2013-07-01,1,31.865885,33.253021,31.536343,33.130402,29.012083,7504384,ADANIENT,4.901716,0.000000,index,0.969667,0.000000
2013-07-02,2,33.260689,33.636211,32.547958,33.214706,29.085907,10326200,ADANIENT,0.254459,0.000000,index,-0.700141,0.000000
2013-07-03,3,32.647587,32.724224,31.045862,31.521013,27.602755,10612933,ADANIENT,-5.099213,0.000000,index,-1.479286,0.000000
2013-07-04,4,31.620644,31.988504,30.624355,31.566998,27.643019,10436316,ADANIENT,0.145870,0.000000,index,1.144541,0.000000
2013-07-05,5,31.651299,32.264400,30.831278,31.275776,27.387997,11272838,ADANIENT,-0.922555,0.000000,index,0.530238,0.000000
2013-07-08,8,30.624355,31.551670,29.965273,31.291103,27.401423,7484479,ADANIENT,0.049021,0.000000,index,-0.960311,0.000000
2013-07-09,9,31.421387,31.950186,30.616692,31.390732,27.488665,8867581,ADANIENT,0.318385,0.000000,index,0.816481,0.000000
2013-07-10,10,31.390732,31.612980,30.440426,30.670340,26.857822,6322372,ADANIENT,-2.294918,0.000000,index,-0.721963,0.000000
2013-07-11,11,31.237455,31.720272,30.884924,31.183809,27.307463,6048355,ADANIENT,1.674150,0.000000,index,2.035517,0.000000
2013-07-12,12,31.352413,31.574661,30.302479,30.777632,26.951777,5830961,ADANIENT,-1.302524,0.000000,index,1.245133,0.000000
2013-07-15,15,30.808287,31.229794,30.402107,30.930906,27.085999,6337345,ADANIENT,0.498008,0.000000,index,0.362786,0.000000
2013-07-16,16,30.655010,30.838942,29.903963,30.578375,26.777287,6209868,ADANIENT,-1.139748,0.000000,index,-1.252733,0.000000
2013-07-17,17,30.586037,31.007544,29.766016,30.402107,26.622934,7537938,ADANIENT,-0.576430,0.000000,index,0.303091,0.000000
2013-07-18,18,30.655010,30.915579,30.279488,30.769968,26.945066,7905232,ADANIENT,1.209980,0.000000,index,1.083990,0.000000
2013-07-19,19,30.769968,31.076517,29.965273,30.624355,26.817554,6627072,ADANIENT,-0.473229,0.000000,index,-0.146564,0.000000

In [20]:
merged_df.head(2)

,day,Open,High,Low,Close,Adj Close,Volume,Symbol_x,daily_return_x,monthly_return_x,Symbol_y,daily_return_y,monthly_return_y
Date,,,,,,,,,,,,,
2013-05-13,13,34.548199,34.632500,32.946472,33.291344,29.153019,5525517,ADANIENT,-4.190546,0.0,index,-1.875381,0.0
2013-05-14,14,33.230034,33.291344,32.570950,32.915817,28.824177,5024424,ADANIENT,-1.127987,0.0,index,0.249976,0.0

In [21]:
merged_df.rename(columns={
    'Symbol_x' : 'symbol_stock',
    'daily_return_x' : 'daily_return_stock '	,
    'monthly_return_x' : 'monthly_return_stock',
    'Symbol_y'  : 'Symbol_index',
    'daily_return_y' : "daily_return_index",
    'monthly_return_y' : 'daily_return_index'
},inplace=True)

In [22]:
merged_df.to_csv('merged_file.csv')