In [147]:
import numpy as np
import pandas as pd

In [148]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
index=['cobra', 'viper', 'sidewinder'],
columns=['max_speed', 'shield'])

print(df)

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [149]:
df.loc[[True,False,False]]

       max_speed  shield
cobra          1       2

In [150]:
df['shield'] > 6

cobra         False
viper         False
sidewinder     True
Name: shield, dtype: bool

In [151]:
df.loc[[False,False,True],'max_speed']

sidewinder    7
Name: max_speed, dtype: int64

In [152]:
df.loc[df['shield'] > 6,'max_speed']

sidewinder    7
Name: max_speed, dtype: int64

In [153]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [154]:
df['shield'] == 8

cobra         False
viper         False
sidewinder     True
Name: shield, dtype: bool

In [155]:
df.loc[df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

In [156]:
lambda df: df['shield'] == 8

In [157]:
df.loc[lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

In [158]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [159]:
df.loc[:,'shield'] = 50

In [160]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
index=[7, 8, 9], columns=['max_speed', 'shield'])

## main work

In [161]:
import numpy as np
import pandas as pd
import datetime as dt

In [162]:
weekly_exp_df = pd.read_csv("Weekly_exp_dates.csv", usecols=['Exp_date'])
weekly_exp_df['Exp_date'] = pd.to_datetime(weekly_exp_df['Exp_date'], format='%d-%b-%y')
print(weekly_exp_df)

      Exp_date
0   2020-01-02
1   2020-01-09
2   2020-01-16
3   2020-01-23
4   2020-01-30
..         ...
161 2023-02-02
162 2023-02-09
163 2023-02-16
164 2023-02-23
165 2023-03-02

[166 rows x 1 columns]

In [163]:
weekly_exp_df['day'] = weekly_exp_df['Exp_date'].dt.day
weekly_exp_df['monthly_exp'] = False
for i in range(len(weekly_exp_df) - 1):
    if weekly_exp_df.loc[i, 'day'] > weekly_exp_df.loc[i+1, 'day']:
        weekly_exp_df.loc[i, 'monthly_exp'] = True

print(weekly_exp_df)

      Exp_date  day  monthly_exp
0   2020-01-02    2        False
1   2020-01-09    9        False
2   2020-01-16   16        False
3   2020-01-23   23        False
4   2020-01-30   30         True
..         ...  ...          ...
161 2023-02-02    2        False
162 2023-02-09    9        False
163 2023-02-16   16        False
164 2023-02-23   23         True
165 2023-03-02    2        False

[166 rows x 3 columns]

In [164]:
monthly_exp_df = pd.DataFrame()
monthly_exp_df = weekly_exp_df.loc[(weekly_exp_df['monthly_exp'] == True), ['Exp_date', 'day']]
print(monthly_exp_df.head())

     Exp_date  day
4  2020-01-30   30
8  2020-02-27   27
12 2020-03-26   26
17 2020-04-30   30
21 2020-05-28   28

### weekly vs monthly list and dataframe

In [165]:
df_weekly_list = weekly_exp_df[['Exp_date']]
df_monthly_list = monthly_exp_df[['Exp_date']]

### reading csv

In [166]:
df = pd.read_csv('C:\\keshav\\Rahul\\Options_data\\NIFTY & BANKNIFTY (Jan 2020 to 19 Dec 2022)\\NIFTY & BANKNIFTY Spot Indices (Jan 2020 to 19 Dec 2022)\\BANKNIFTY.csv',header=None)
df.rename(columns={
                  0 : 'date',
                  1 : 'time',
                  2 : 'open',
                  3 : 'high',
                  4 : 'low',
                  5 : 'close'
},inplace=True)

df['date'] = df['date'].astype('str')
datetime = pd.to_datetime(df['date'] + ' ' + df['time'], format='%Y%m%d %H:%M')
df.insert(1,'datetime',datetime) 
df['date'] = pd.to_datetime(df['date'])
df.set_index('datetime',inplace=True)
df= df.between_time('09:15:00', '15:29:00')
df=df.reset_index()
df.drop('datetime',axis=1,inplace=True)

print(df)

             date   time      open      high       low     close
0      2020-01-01  09:15  32227.80  32295.80  32220.90  32292.00
1      2020-01-01  09:16  32296.35  32303.30  32283.95  32288.25
2      2020-01-01  09:17  32285.05  32290.85  32279.35  32282.95
3      2020-01-01  09:18  32280.20  32296.25  32270.70  32292.45
4      2020-01-01  09:19  32295.30  32312.05  32294.85  32298.65
...           ...    ...       ...       ...       ...       ...
275481 2022-12-19  15:25  43432.50  43433.35  43421.35  43429.75
275482 2022-12-19  15:26  43428.05  43435.30  43425.95  43433.90
275483 2022-12-19  15:27  43436.65  43451.45  43432.80  43444.60
275484 2022-12-19  15:28  43446.15  43448.25  43422.00  43428.60
275485 2022-12-19  15:29  43429.40  43451.40  43424.80  43448.40

[275486 rows x 6 columns]

### making new dataframe with all required columns

In [167]:
df_datelist = pd.DataFrame(df['date'].unique(), columns = ['date'])
df_datelist[['currWeek_exp_dt', 'nextWeek_exp_dt', 'farWeek_exp_dt','currMonth_exp_dt', 'nextMonth_exp_dt', 'farMonth_exp_dt' ]] = np.NaN

In [168]:
for i in range(len(df_datelist)):
    df2 = df_weekly_list.loc[df_weekly_list['Exp_date'] >= df_datelist['date'][i]]
    df_datelist.loc[i,'currWeek_exp_dt'] = df2['Exp_date'].values[0]
    df_datelist.loc[i,'nextWeek_exp_dt'] = df2['Exp_date'].values[1]
    df_datelist.loc[i,'farWeek_exp_dt'] = df2['Exp_date'].values[2]

    df3 = df_monthly_list.loc[df_monthly_list['Exp_date'] >= df_datelist['date'][i]]
    df_datelist.loc[i,'currMonth_exp_dt'] = df3['Exp_date'].values[0]
    df_datelist.loc[i,'nextMonth_exp_dt'] = df3['Exp_date'].values[1]
    df_datelist.loc[i,'farMonth_exp_dt'] = df3['Exp_date'].values[2]
    pass    
    
print(df_datelist)

          date                currWeek_exp_dt                nextWeek_exp_dt
0   2020-01-01  2020-01-02T00:00:00.000000000  2020-01-09T00:00:00.000000000  \
1   2020-01-02  2020-01-02T00:00:00.000000000  2020-01-09T00:00:00.000000000
2   2020-01-03  2020-01-09T00:00:00.000000000  2020-01-16T00:00:00.000000000
3   2020-01-06  2020-01-09T00:00:00.000000000  2020-01-16T00:00:00.000000000
4   2020-01-07  2020-01-09T00:00:00.000000000  2020-01-16T00:00:00.000000000
..         ...                            ...                            ...
731 2022-12-13  2022-12-15T00:00:00.000000000  2022-12-22T00:00:00.000000000
732 2022-12-14  2022-12-15T00:00:00.000000000  2022-12-22T00:00:00.000000000
733 2022-12-15  2022-12-15T00:00:00.000000000  2022-12-22T00:00:00.000000000
734 2022-12-16  2022-12-22T00:00:00.000000000  2022-12-29T00:00:00.000000000
735 2022-12-19  2022-12-22T00:00:00.000000000  2022-12-29T00:00:00.000000000

                    farWeek_exp_dt               currMonth_exp_dt
0    2020-01-16T00:00:00.000000000  2020-01-30T00:00:00.000000000  \
1    2020-01-16T00:00:00.000000000  2020-01-30T00:00:00.000000000
2    2020-01-23T00:00:00.000000000  2020-01-30T00:00:00.000000000
3    2020-01-23T00:00:00.000000000  2020-01-30T00:00:00.000000000
4    2020-01-23T00:00:00.000000000  2020-01-30T00:00:00.000000000
..                             ...                            ...
731  2022-12-29T00:00:00.000000000  2022-12-29T00:00:00.000000000
732  2022-12-29T00:00:00.000000000  2022-12-29T00:00:00.000000000
733  2022-12-29T00:00:00.000000000  2022-12-29T00:00:00.000000000
734  2023-01-05T00:00:00.000000000  2022-12-29T00:00:00.000000000
735  2023-01-05T00:00:00.000000000  2022-12-29T00:00:00.000000000

                  nextMonth_exp_dt                farMonth_exp_dt
0    2020-02-27T00:00:00.000000000  2020-03-26T00:00:00.000000000
1    2020-02-27T00:00:00.000000000  2020-03-26T00:00:00.000000000
2    2020-02-27T00:00:00.000000000  2020-03-26T00:00:00.000000000
3    2020-02-27T00:00:00.000000000  2020-03-26T00:00:00.000000000
4    2020-02-27T00:00:00.000000000  2020-03-26T00:00:00.000000000
..                             ...                            ...
731  2023-01-25T00:00:00.000000000  2023-02-23T00:00:00.000000000
732  2023-01-25T00:00:00.000000000  2023-02-23T00:00:00.000000000
733  2023-01-25T00:00:00.000000000  2023-02-23T00:00:00.000000000
734  2023-01-25T00:00:00.000000000  2023-02-23T00:00:00.000000000
735  2023-01-25T00:00:00.000000000  2023-02-23T00:00:00.000000000

[736 rows x 7 columns]

In [169]:
merged_df = pd.merge(df,df_datelist,how='left', on='date')

In [170]:
merged_df

,date,time,open,high,low,close,currWeek_exp_dt,nextWeek_exp_dt,farWeek_exp_dt,currMonth_exp_dt,nextMonth_exp_dt,farMonth_exp_dt
0,2020-01-01,09:15,32227.80,32295.80,32220.90,32292.00,2020-01-02T00:00:00.000000000,2020-01-09T00:00:00.000000000,2020-01-16T00:00:00.000000000,2020-01-30T00:00:00.000000000,2020-02-27T00:00:00.000000000,2020-03-26T00:00:00.000000000
1,2020-01-01,09:16,32296.35,32303.30,32283.95,32288.25,2020-01-02T00:00:00.000000000,2020-01-09T00:00:00.000000000,2020-01-16T00:00:00.000000000,2020-01-30T00:00:00.000000000,2020-02-27T00:00:00.000000000,2020-03-26T00:00:00.000000000
2,2020-01-01,09:17,32285.05,32290.85,32279.35,32282.95,2020-01-02T00:00:00.000000000,2020-01-09T00:00:00.000000000,2020-01-16T00:00:00.000000000,2020-01-30T00:00:00.000000000,2020-02-27T00:00:00.000000000,2020-03-26T00:00:00.000000000
3,2020-01-01,09:18,32280.20,32296.25,32270.70,32292.45,2020-01-02T00:00:00.000000000,2020-01-09T00:00:00.000000000,2020-01-16T00:00:00.000000000,2020-01-30T00:00:00.000000000,2020-02-27T00:00:00.000000000,2020-03-26T00:00:00.000000000
4,2020-01-01,09:19,32295.30,32312.05,32294.85,32298.65,2020-01-02T00:00:00.000000000,2020-01-09T00:00:00.000000000,2020-01-16T00:00:00.000000000,2020-01-30T00:00:00.000000000,2020-02-27T00:00:00.000000000,2020-03-26T00:00:00.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
275481,2022-12-19,15:25,43432.50,43433.35,43421.35,43429.75,2022-12-22T00:00:00.000000000,2022-12-29T00:00:00.000000000,2023-01-05T00:00:00.000000000,2022-12-29T00:00:00.000000000,2023-01-25T00:00:00.000000000,2023-02-23T00:00:00.000000000
275482,2022-12-19,15:26,43428.05,43435.30,43425.95,43433.90,2022-12-22T00:00:00.000000000,2022-12-29T00:00:00.000000000,2023-01-05T00:00:00.000000000,2022-12-29T00:00:00.000000000,2023-01-25T00:00:00.000000000,2023-02-23T00:00:00.000000000
275483,2022-12-19,15:27,43436.65,43451.45,43432.80,43444.60,2022-12-22T00:00:00.000000000,2022-12-29T00:00:00.000000000,2023-01-05T00:00:00.000000000,2022-12-29T00:00:00.000000000,2023-01-25T00:00:00.000000000,2023-02-23T00:00:00.000000000
275484,2022-12-19,15:28,43446.15,43448.25,43422.00,43428.60,2022-12-22T00:00:00.000000000,2022-12-29T00:00:00.000000000,2023-01-05T00:00:00.000000000,2022-12-29T00:00:00.000000000,2023-01-25T00:00:00.000000000,2023-02-23T00:00:00.000000000
275485,2022-12-19,15:29,43429.40,43451.40,43424.80,43448.40,2022-12-22T00:00:00.000000000,2022-12-29T00:00:00.000000000,2023-01-05T00:00:00.000000000,2022-12-29T00:00:00.000000000,2023-01-25T00:00:00.000000000,2023-02-23T00:00:00.000000000

In [171]:
merged_df['currWeek_exp_dt'] = pd.to_datetime(merged_df['currWeek_exp_dt']).dt.date
merged_df['nextWeek_exp_dt'] = pd.to_datetime(merged_df['nextWeek_exp_dt']).dt.date
merged_df['farWeek_exp_dt'] = pd.to_datetime(merged_df['farWeek_exp_dt']).dt.date
merged_df['currMonth_exp_dt'] = pd.to_datetime(merged_df['currMonth_exp_dt']).dt.date
merged_df['nextMonth_exp_dt'] = pd.to_datetime(merged_df['nextMonth_exp_dt']).dt.date
merged_df['farMonth_exp_dt'] = pd.to_datetime(merged_df['farMonth_exp_dt']).dt.date

merged_df.set_index('date',inplace=True)

In [172]:
merged_df

,time,open,high,low,close,currWeek_exp_dt,nextWeek_exp_dt,farWeek_exp_dt,currMonth_exp_dt,nextMonth_exp_dt,farMonth_exp_dt
date,,,,,,,,,,,
2020-01-01,09:15,32227.80,32295.80,32220.90,32292.00,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,09:16,32296.35,32303.30,32283.95,32288.25,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,09:17,32285.05,32290.85,32279.35,32282.95,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,09:18,32280.20,32296.25,32270.70,32292.45,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,09:19,32295.30,32312.05,32294.85,32298.65,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
...,...,...,...,...,...,...,...,...,...,...,...
2022-12-19,15:25,43432.50,43433.35,43421.35,43429.75,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23
2022-12-19,15:26,43428.05,43435.30,43425.95,43433.90,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23
2022-12-19,15:27,43436.65,43451.45,43432.80,43444.60,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23
2022-12-19,15:28,43446.15,43448.25,43422.00,43428.60,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23
2022-12-19,15:29,43429.40,43451.40,43424.80,43448.40,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23

In [173]:
merged_df.insert(5,'ATMStrPr',round(merged_df['close'],-2))

In [175]:
merged_df

,time,open,high,low,close,ATMStrPr,currWeek_exp_dt,nextWeek_exp_dt,farWeek_exp_dt,currMonth_exp_dt,nextMonth_exp_dt,farMonth_exp_dt
date,,,,,,,,,,,,
2020-01-01,09:15,32227.80,32295.80,32220.90,32292.00,32300.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,09:16,32296.35,32303.30,32283.95,32288.25,32300.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,09:17,32285.05,32290.85,32279.35,32282.95,32300.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,09:18,32280.20,32296.25,32270.70,32292.45,32300.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,09:19,32295.30,32312.05,32294.85,32298.65,32300.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-19,15:25,43432.50,43433.35,43421.35,43429.75,43400.0,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23
2022-12-19,15:26,43428.05,43435.30,43425.95,43433.90,43400.0,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23
2022-12-19,15:27,43436.65,43451.45,43432.80,43444.60,43400.0,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23
2022-12-19,15:28,43446.15,43448.25,43422.00,43428.60,43400.0,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23
2022-12-19,15:29,43429.40,43451.40,43424.80,43448.40,43400.0,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23

In [181]:
merged_df[(merged_df['time'] == "09:15") & (merged_df.index == '2020-01-01')]['ATMStrPr'].values[0]

32300.0

In [201]:
exp_period = 'currWeek_exp_dt'

def exp_dates(entry_time,date):
    result =  merged_df[(merged_df['time'] == entry_time) & (merged_df.index == date)][exp_period]
    result = result.values[0]
    date = pd.to_datetime(result)
    formatted_date = date.strftime('%Y%m%d')
    return formatted_date


a = exp_dates('09:20','2020-01-01')

print(a)

20200102

In [194]:
import pandas as pd

date = pd.to_datetime('2020-01-02')
formatted_date = date.strftime('%y%m%d')

print(formatted_date)

200102

In [203]:
merged_df.loc['2020-01-01']

,time,open,high,low,close,ATMStrPr,currWeek_exp_dt,nextWeek_exp_dt,farWeek_exp_dt,currMonth_exp_dt,nextMonth_exp_dt,farMonth_exp_dt
date,,,,,,,,,,,,
2020-01-01,09:15,32227.80,32295.80,32220.90,32292.00,32300.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,09:16,32296.35,32303.30,32283.95,32288.25,32300.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,09:17,32285.05,32290.85,32279.35,32282.95,32300.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,09:18,32280.20,32296.25,32270.70,32292.45,32300.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,09:19,32295.30,32312.05,32294.85,32298.65,32300.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-01,15:25,32116.65,32129.65,32114.10,32119.95,32100.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,15:26,32119.45,32128.05,32117.70,32118.35,32100.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,15:27,32118.50,32126.10,32113.60,32118.40,32100.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,15:28,32117.35,32131.10,32117.35,32123.55,32100.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01,15:29,32128.15,32135.55,32119.90,32131.35,32100.0,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26

In [224]:
import os
os.getcwd()
os.path

In [223]:
import os
import pandas as pd

# Define the variable name
variable_name = '2021'

# Define the folder path based on the variable name
folder_path = os.path.join(os.getcwd(), variable_name)

# Check if the folder exists
if os.path.exists(folder_path):
    # List all files in the folder
    files = os.listdir(folder_path)
    
    # Find the Excel file with the desired name (assuming there's only one Excel file in the folder)
    excel_file = next((file for file in files if file.endswith('.xlsx')), None)
    
    # Check if an Excel file is found
    if excel_file:
        # Open the Excel file
        file_path = os.path.join(folder_path, excel_file)
        df = pd.read_excel(file_path)
        print(df)
    else:
        print("No Excel file found in the folder.")
else:
    print("Folder not found.")

Folder not found.

## dir

In [269]:
if os.path.isfile('finaldf.csv'):
    print('Hello')
else:
    print('hi')

hi

In [268]:
os.path

In [272]:
date = '2020-01-01'
datestr = date.split('-')[0]
type(datestr)

str

In [275]:
date = '2020-01-01'
datestr = date.split('-')[0]
datestr
type(datestr)

str

In [286]:
import os
lst = os.listdir("C:\\keshav\\Rahul\\Options_data\\NIFTY & BANKNIFTY (Jan 2020 to 19 Dec 2022)\\NIFTY & BANKNIFTY Options (Jan 2020 to 19 Dec 2022)\\2020\\BANKNIFTY Options")

"BANKNIFTY20010227500PE.csv" in lst

True

In [285]:
lst

['BANKNIFTY20010227500PE.csv',
 'BANKNIFTY20010227600PE.csv',
 'BANKNIFTY20010227700PE.csv',
 'BANKNIFTY20010227800PE.csv',
 'BANKNIFTY20010227900PE.csv',
 'BANKNIFTY20010229400PE.csv',
 'BANKNIFTY20010229900PE.csv',
 'BANKNIFTY20010230000CE.csv',
 'BANKNIFTY20010230000PE.csv',
 'BANKNIFTY20010230100PE.csv',
 'BANKNIFTY20010230300PE.csv',
 'BANKNIFTY20010230400PE.csv',
 'BANKNIFTY20010230500CE.csv',
 'BANKNIFTY20010230500PE.csv',
 'BANKNIFTY20010230600PE.csv',
 'BANKNIFTY20010230700PE.csv',
 'BANKNIFTY20010230800CE.csv',
 'BANKNIFTY20010230800PE.csv',
 'BANKNIFTY20010230900PE.csv',
 'BANKNIFTY20010231000CE.csv',
 'BANKNIFTY20010231000PE.csv',
 'BANKNIFTY20010231100CE.csv',
 'BANKNIFTY20010231100PE.csv',
 'BANKNIFTY20010231200CE.csv',
 'BANKNIFTY20010231200PE.csv',
 'BANKNIFTY20010231300CE.csv',
 'BANKNIFTY20010231300PE.csv',
 'BANKNIFTY20010231400CE.csv',
 'BANKNIFTY20010231400PE.csv',
 'BANKNIFTY20010231500CE.csv',
 'BANKNIFTY20010231500PE.csv',
 'BANKNIFTY20010231600CE.csv',
 'BANKNIFTY20010231600PE.csv',
 'BANKNIFTY20010231700CE.csv',
 'BANKNIFTY20010231700PE.csv',
 'BANKNIFTY20010231800CE.csv',
 'BANKNIFTY20010231800PE.csv',
 'BANKNIFTY20010231900CE.csv',
 'BANKNIFTY20010231900PE.csv',
 'BANKNIFTY20010232000CE.csv',
 'BANKNIFTY20010232000PE.csv',
 'BANKNIFTY20010232100CE.csv',
 'BANKNIFTY20010232100PE.csv',
 'BANKNIFTY20010232200CE.csv',
 'BANKNIFTY20010232200PE.csv',
 'BANKNIFTY20010232300CE.csv',
 'BANKNIFTY20010232300PE.csv',
 'BANKNIFTY20010232400CE.csv',
 'BANKNIFTY20010232400PE.csv',
 'BANKNIFTY20010232500CE.csv',
 'BANKNIFTY20010232500PE.csv',
 'BANKNIFTY20010232600CE.csv',
 'BANKNIFTY20010232600PE.csv',
 'BANKNIFTY20010232700CE.csv',
 'BANKNIFTY20010232700PE.csv',
 'BANKNIFTY20010232800CE.csv',
 'BANKNIFTY20010232800PE.csv',
 'BANKNIFTY20010232900CE.csv',
 'BANKNIFTY20010232900PE.csv',
 'BANKNIFTY20010233000CE.csv',
 'BANKNIFTY20010233000PE.csv',
 'BANKNIFTY20010233100CE.csv',
 'BANKNIFTY20010233100PE.csv',
 'BANKNIFTY20010233200CE.csv',
 'BANKNIFTY20010233200PE.csv',
 'BANKNIFTY20010233300CE.csv',
 'BANKNIFTY20010233400CE.csv',
 'BANKNIFTY20010233500CE.csv',
 'BANKNIFTY20010233500PE.csv',
 'BANKNIFTY20010233600CE.csv',
 'BANKNIFTY20010233600PE.csv',
 'BANKNIFTY20010233700CE.csv',
 'BANKNIFTY20010233800CE.csv',
 'BANKNIFTY20010233900CE.csv',
 'BANKNIFTY20010234000CE.csv',
 'BANKNIFTY20010234000PE.csv',
 'BANKNIFTY20010234100CE.csv',
 'BANKNIFTY20010234200CE.csv',
 'BANKNIFTY20010234600CE.csv',
 'BANKNIFTY20010234700CE.csv',
 'BANKNIFTY20010234800CE.csv',
 'BANKNIFTY20010234900CE.csv',
 'BANKNIFTY20010235200CE.csv',
 'BANKNIFTY20010235300CE.csv',
 'BANKNIFTY20010235400CE.csv',
 'BANKNIFTY20010927700CE.csv',
 'BANKNIFTY20010927700PE.csv',
 'BANKNIFTY20010927800PE.csv',
 'BANKNIFTY20010927900PE.csv',
 'BANKNIFTY20010928000CE.csv',
 'BANKNIFTY20010928000PE.csv',
 'BANKNIFTY20010928100PE.csv',
 'BANKNIFTY20010928200PE.csv',
 'BANKNIFTY20010928300PE.csv',
 'BANKNIFTY20010928500PE.csv',
 'BANKNIFTY20010928800PE.csv',
 'BANKNIFTY20010928900PE.csv',
 'BANKNIFTY20010929000PE.csv',
 'BANKNIFTY20010929200PE.csv',
 'BANKNIFTY20010929300PE.csv',
 'BANKNIFTY20010929400PE.csv',
 'BANKNIFTY20010929500CE.csv',
 'BANKNIFTY20010929500PE.csv',
 'BANKNIFTY20010929600PE.csv',
 'BANKNIFTY20010929700PE.csv',
 'BANKNIFTY20010929800CE.csv',
 'BANKNIFTY20010929800PE.csv',
 'BANKNIFTY20010929900PE.csv',
 'BANKNIFTY20010930000CE.csv',
 'BANKNIFTY20010930000PE.csv',
 'BANKNIFTY20010930100CE.csv',
 'BANKNIFTY20010930100PE.csv',
 'BANKNIFTY20010930200CE.csv',
 'BANKNIFTY20010930200PE.csv',
 'BANKNIFTY20010930300CE.csv',
 'BANKNIFTY20010930300PE.csv',
 'BANKNIFTY20010930400CE.csv',
 'BANKNIFTY20010930400PE.csv',
 'BANKNIFTY20010930500CE.csv',
 'BANKNIFTY20010930500PE.csv',
 'BANKNIFTY20010930600CE.csv',
 'BANKNIFTY20010930600PE.csv',
 'BANKNIFTY20010930700CE.csv',
 'BANKNIFTY20010930700PE.csv',
 'BANKNIFTY20010930800CE.csv',
 'BANKNIFTY20010930800PE.csv',
 'BANKNIFTY20010930900CE.csv',
 'BANKNIFTY20010930900PE.csv',
 'BANKNIFTY20010931000CE.csv',
 'BANKNIFTY20010931000PE.csv',
 'BANKNIFTY20010931100CE.csv',
 'BANKNIFTY20010931100PE.csv',
 'BANKNIFTY20010931200CE.csv',
 'BANKNIFTY20010931200PE.csv',
 'BANKNIFTY20010931300CE.csv',
 'BANKNIFTY20010931300PE.csv',
 'BANKNIFTY20010931400CE.csv',
 'BANKNIFTY20010931400PE.csv',
 'BANKNIFTY20010931500CE.csv',
 'BANKNIFTY20010931500PE.csv',
 'BANKNIFTY20010931600CE.csv',
 'BANKNIFTY20010931600PE.csv',
 'BANKNIFTY20010931700CE.csv',
 'BANKNIFTY20010931700PE.csv',
 'BANKNIFTY20010931800CE.csv',
 'BANKNIFTY20010931800PE.csv',
 'BANKNIFTY20010931900CE.csv',
 'BANKNIFTY20010931900PE.csv',
 'BANKNIFTY20010932000CE.csv',
 'BANKNIFTY20010932000PE.csv',
 'BANKNIFTY20010932100CE.csv',
 'BANKNIFTY20010932100PE.csv',
 'BANKNIFTY20010932200CE.csv',
 'BANKNIFTY20010932200PE.csv',
 'BANKNIFTY20010932300CE.csv',
 'BANKNIFTY20010932300PE.csv',
 'BANKNIFTY20010932400CE.csv',
 'BANKNIFTY20010932400PE.csv',
 'BANKNIFTY20010932500CE.csv',
 'BANKNIFTY20010932500PE.csv',
 'BANKNIFTY20010932600CE.csv',
 'BANKNIFTY20010932600PE.csv',
 'BANKNIFTY20010932700CE.csv',
 'BANKNIFTY20010932700PE.csv',
 'BANKNIFTY20010932800CE.csv',
 'BANKNIFTY20010932800PE.csv',
 'BANKNIFTY20010932900CE.csv',
 'BANKNIFTY20010932900PE.csv',
 'BANKNIFTY20010933000CE.csv',
 'BANKNIFTY20010933000PE.csv',
 'BANKNIFTY20010933100CE.csv',
 'BANKNIFTY20010933100PE.csv',
 'BANKNIFTY20010933200CE.csv',
 'BANKNIFTY20010933200PE.csv',
 'BANKNIFTY20010933300CE.csv',
 'BANKNIFTY20010933300PE.csv',
 'BANKNIFTY20010933400CE.csv',
 'BANKNIFTY20010933400PE.csv',
 'BANKNIFTY20010933500CE.csv',
 'BANKNIFTY20010933500PE.csv',
 'BANKNIFTY20010933600CE.csv',
 'BANKNIFTY20010933600PE.csv',
 'BANKNIFTY20010933700CE.csv',
 'BANKNIFTY20010933700PE.csv',
 'BANKNIFTY20010933800CE.csv',
 'BANKNIFTY20010933800PE.csv',
 'BANKNIFTY20010933900CE.csv',
 'BANKNIFTY20010934000CE.csv',
 'BANKNIFTY20010934000PE.csv',
 'BANKNIFTY20010934100CE.csv',
 'BANKNIFTY20010934100PE.csv',
 'BANKNIFTY20010934200CE.csv',
 'BANKNIFTY20010934200PE.csv',
 'BANKNIFTY20010934300CE.csv',
 'BANKNIFTY20010934300PE.csv',
 'BANKNIFTY20010934500CE.csv',
 'BANKNIFTY20010934500PE.csv',
 'BANKNIFTY20010934600CE.csv',
 'BANKNIFTY20010934600PE.csv',
 'BANKNIFTY20010934700CE.csv',
 'BANKNIFTY20010934700PE.csv',
 'BANKNIFTY20010934800CE.csv',
 'BANKNIFTY20010934800PE.csv',
 'BANKNIFTY20010934900CE.csv',
 'BANKNIFTY20010935000CE.csv',
 'BANKNIFTY20010935100CE.csv',
 'BANKNIFTY20010935200CE.csv',
 'BANKNIFTY20010935300CE.csv',
 'BANKNIFTY20010935400CE.csv',
 'BANKNIFTY20010935400PE.csv',
 'BANKNIFTY20011627700CE.csv',
 'BANKNIFTY20011627700PE.csv',
 'BANKNIFTY20011627800PE.csv',
 'BANKNIFTY20011627900PE.csv',
 'BANKNIFTY20011628000PE.csv',
 'BANKNIFTY20011628100PE.csv',
 'BANKNIFTY20011628200PE.csv',
 'BANKNIFTY20011628300PE.csv',
 'BANKNIFTY20011628400PE.csv',
 'BANKNIFTY20011628500PE.csv',
 'BANKNIFTY20011629000PE.csv',
 'BANKNIFTY20011629300PE.csv',
 'BANKNIFTY20011629400PE.csv',
 'BANKNIFTY20011629500CE.csv',
 'BANKNIFTY20011629500PE.csv',
 'BANKNIFTY20011629600PE.csv',
 'BANKNIFTY20011629700PE.csv',
 'BANKNIFTY20011629800PE.csv',
 'BANKNIFTY20011629900PE.csv',
 'BANKNIFTY20011630000CE.csv',
 'BANKNIFTY20011630000PE.csv',
 'BANKNIFTY20011630100PE.csv',
 'BANKNIFTY20011630200PE.csv',
 'BANKNIFTY20011630300PE.csv',
 'BANKNIFTY20011630400PE.csv',
 'BANKNIFTY20011630500CE.csv',
 'BANKNIFTY20011630500PE.csv',
 'BANKNIFTY20011630600CE.csv',
 'BANKNIFTY20011630600PE.csv',
 'BANKNIFTY20011630700CE.csv',
 'BANKNIFTY20011630700PE.csv',
 'BANKNIFTY20011630800CE.csv',
 'BANKNIFTY20011630800PE.csv',
 'BANKNIFTY20011630900CE.csv',
 'BANKNIFTY20011630900PE.csv',
 'BANKNIFTY20011631000CE.csv',
 'BANKNIFTY20011631000PE.csv',
 'BANKNIFTY20011631100CE.csv',
 'BANKNIFTY20011631100PE.csv',
 'BANKNIFTY20011631200CE.csv',
 'BANKNIFTY20011631200PE.csv',
 'BANKNIFTY20011631300CE.csv',
 'BANKNIFTY20011631300PE.csv',
 'BANKNIFTY20011631400CE.csv',
 'BANKNIFTY20011631400PE.csv',
 'BANKNIFTY20011631500CE.csv',
 'BANKNIFTY20011631500PE.csv',
 'BANKNIFTY20011631600CE.csv',
 'BANKNIFTY20011631600PE.csv',
 'BANKNIFTY20011631700CE.csv',
 'BANKNIFTY20011631700PE.csv',
 'BANKNIFTY20011631800CE.csv',
 'BANKNIFTY20011631800PE.csv',
 'BANKNIFTY20011631900CE.csv',
 'BANKNIFTY20011631900PE.csv',
 'BANKNIFTY20011632000CE.csv',
 'BANKNIFTY20011632000PE.csv',
 'BANKNIFTY20011632100CE.csv',
 'BANKNIFTY20011632100PE.csv',
 'BANKNIFTY20011632200CE.csv',
 'BANKNIFTY20011632200PE.csv',
 'BANKNIFTY20011632300CE.csv',
 'BANKNIFTY20011632300PE.csv',
 'BANKNIFTY20011632400CE.csv',
 'BANKNIFTY20011632400PE.csv',
 'BANKNIFTY20011632500CE.csv',
 'BANKNIFTY20011632500PE.csv',
 'BANKNIFTY20011632600CE.csv',
 'BANKNIFTY20011632600PE.csv',
 'BANKNIFTY20011632700CE.csv',
 'BANKNIFTY20011632700PE.csv',
 'BANKNIFTY20011632800CE.csv',
 'BANKNIFTY20011632800PE.csv',
 'BANKNIFTY20011632900CE.csv',
 'BANKNIFTY20011632900PE.csv',
 'BANKNIFTY20011633000CE.csv',
 'BANKNIFTY20011633000PE.csv',
 'BANKNIFTY20011633100CE.csv',
 'BANKNIFTY20011633100PE.csv',
 'BANKNIFTY20011633200CE.csv',
 'BANKNIFTY20011633300CE.csv',
 'BANKNIFTY20011633300PE.csv',
 'BANKNIFTY20011633400CE.csv',
 'BANKNIFTY20011633500CE.csv',
 'BANKNIFTY20011633500PE.csv',
 'BANKNIFTY20011633600CE.csv',
 'BANKNIFTY20011633700CE.csv',
 'BANKNIFTY20011633800CE.csv',
 'BANKNIFTY20011633900CE.csv',
 'BANKNIFTY20011634000CE.csv',
 'BANKNIFTY20011634000PE.csv',
 'BANKNIFTY20011634100CE.csv',
 'BANKNIFTY20011634300CE.csv',
 'BANKNIFTY20011634500CE.csv',
 'BANKNIFTY20011635200CE.csv',
 'BANKNIFTY20011635300CE.csv',
 'BANKNIFTY20011635400CE.csv',
 'BANKNIFTY20012328000CE.csv',
 'BANKNIFTY20012328100CE.csv',
 'BANKNIFTY20012328100PE.csv',
 'BANKNIFTY20012328200PE.csv',
 'BANKNIFTY20012328300PE.csv',
 'BANKNIFTY20012328400PE.csv',
 'BANKNIFTY20012328500PE.csv',
 'BANKNIFTY20012328800PE.csv',
 'BANKNIFTY20012328900PE.csv',
 'BANKNIFTY20012329000CE.csv',
 'BANKNIFTY20012329000PE.csv',
 'BANKNIFTY20012329200PE.csv',
 'BANKNIFTY20012329300PE.csv',
 'BANKNIFTY20012329400PE.csv',
 'BANKNIFTY20012329500CE.csv',
 'BANKNIFTY20012329500PE.csv',
 'BANKNIFTY20012329600PE.csv',
 'BANKNIFTY20012329700PE.csv',
 'BANKNIFTY20012329800PE.csv',
 'BANKNIFTY20012329900PE.csv',
 'BANKNIFTY20012330000CE.csv',
 'BANKNIFTY20012330000PE.csv',
 'BANKNIFTY20012330100CE.csv',
 'BANKNIFTY20012330100PE.csv',
 'BANKNIFTY20012330200CE.csv',
 'BANKNIFTY20012330200PE.csv',
 'BANKNIFTY20012330300CE.csv',
 'BANKNIFTY20012330300PE.csv',
 'BANKNIFTY20012330400CE.csv',
 'BANKNIFTY20012330400PE.csv',
 'BANKNIFTY20012330500CE.csv',
 'BANKNIFTY20012330500PE.csv',
 'BANKNIFTY20012330600CE.csv',
 'BANKNIFTY20012330600PE.csv',
 'BANKNIFTY20012330700CE.csv',
 'BANKNIFTY20012330700PE.csv',
 'BANKNIFTY20012330800CE.csv',
 'BANKNIFTY20012330800PE.csv',
 'BANKNIFTY20012330900CE.csv',
 'BANKNIFTY20012330900PE.csv',
 'BANKNIFTY20012331000CE.csv',
 'BANKNIFTY20012331000PE.csv',
 'BANKNIFTY20012331100CE.csv',
 'BANKNIFTY20012331100PE.csv',
 'BANKNIFTY20012331200CE.csv',
 'BANKNIFTY20012331200PE.csv',
 'BANKNIFTY20012331300CE.csv',
 'BANKNIFTY20012331300PE.csv',
 'BANKNIFTY20012331400CE.csv',
 'BANKNIFTY20012331400PE.csv',
 'BANKNIFTY20012331500CE.csv',
 'BANKNIFTY20012331500PE.csv',
 'BANKNIFTY20012331600CE.csv',
 'BANKNIFTY20012331600PE.csv',
 'BANKNIFTY20012331700CE.csv',
 'BANKNIFTY20012331700PE.csv',
 'BANKNIFTY20012331800CE.csv',
 'BANKNIFTY20012331800PE.csv',
 'BANKNIFTY20012331900CE.csv',
 'BANKNIFTY20012331900PE.csv',
 'BANKNIFTY20012332000CE.csv',
 'BANKNIFTY20012332000PE.csv',
 'BANKNIFTY20012332100CE.csv',
 'BANKNIFTY20012332100PE.csv',
 'BANKNIFTY20012332200CE.csv',
 'BANKNIFTY20012332200PE.csv',
 'BANKNIFTY20012332300CE.csv',
 'BANKNIFTY20012332300PE.csv',
 'BANKNIFTY20012332400CE.csv',
 'BANKNIFTY20012332400PE.csv',
 'BANKNIFTY20012332500CE.csv',
 'BANKNIFTY20012332500PE.csv',
 'BANKNIFTY20012332600CE.csv',
 'BANKNIFTY20012332600PE.csv',
 'BANKNIFTY20012332700CE.csv',
 'BANKNIFTY20012332700PE.csv',
 'BANKNIFTY20012332800CE.csv',
 'BANKNIFTY20012332800PE.csv',
 'BANKNIFTY20012332900CE.csv',
 'BANKNIFTY20012332900PE.csv',
 'BANKNIFTY20012333000CE.csv',
 'BANKNIFTY20012333000PE.csv',
 'BANKNIFTY20012333100CE.csv',
 'BANKNIFTY20012333200CE.csv',
 'BANKNIFTY20012333200PE.csv',
 'BANKNIFTY20012333300CE.csv',
 'BANKNIFTY20012333400CE.csv',
 'BANKNIFTY20012333500CE.csv',
 'BANKNIFTY20012333500PE.csv',
 'BANKNIFTY20012333600CE.csv',
 'BANKNIFTY20012333800CE.csv',
 'BANKNIFTY20012333900CE.csv',
 'BANKNIFTY20012334000CE.csv',
 'BANKNIFTY20012334000PE.csv',
 'BANKNIFTY20012334100CE.csv',
 'BANKNIFTY20012334200CE.csv',
 'BANKNIFTY20012334300CE.csv',
 'BANKNIFTY20012334500CE.csv',
 'BANKNIFTY20012334900CE.csv',
 'BANKNIFTY20012335100CE.csv',
 'BANKNIFTY20012335200CE.csv',
 'BANKNIFTY20012335300CE.csv',
 'BANKNIFTY20012335400CE.csv',
 'BANKNIFTY20013027700CE.csv',
 'BANKNIFTY20013027700PE.csv',
 'BANKNIFTY20013027800PE.csv',
 'BANKNIFTY20013027900PE.csv',
 'BANKNIFTY20013028000CE.csv',
 'BANKNIFTY20013028000PE.csv',
 'BANKNIFTY20013028100CE.csv',
 'BANKNIFTY20013028100PE.csv',
 'BANKNIFTY20013028200CE.csv',
 'BANKNIFTY20013028200PE.csv',
 'BANKNIFTY20013028300PE.csv',
 'BANKNIFTY20013028400PE.csv',
 'BANKNIFTY20013028500CE.csv',
 'BANKNIFTY20013028500PE.csv',
 'BANKNIFTY20013028600PE.csv',
 'BANKNIFTY20013028700PE.csv',
 'BANKNIFTY20013028800PE.csv',
 'BANKNIFTY20013028900PE.csv',
 'BANKNIFTY20013029000CE.csv',
 'BANKNIFTY20013029000PE.csv',
 'BANKNIFTY20013029100PE.csv',
 'BANKNIFTY20013029200PE.csv',
 'BANKNIFTY20013029300PE.csv',
 'BANKNIFTY20013029400PE.csv',
 'BANKNIFTY20013029500CE.csv',
 'BANKNIFTY20013029500PE.csv',
 'BANKNIFTY20013029600CE.csv',
 'BANKNIFTY20013029600PE.csv',
 'BANKNIFTY20013029700CE.csv',
 'BANKNIFTY20013029700PE.csv',
 'BANKNIFTY20013029800PE.csv',
 'BANKNIFTY20013029900CE.csv',
 'BANKNIFTY20013029900PE.csv',
 'BANKNIFTY20013030000CE.csv',
 'BANKNIFTY20013030000PE.csv',
 'BANKNIFTY20013030100CE.csv',
 'BANKNIFTY20013030100PE.csv',
 'BANKNIFTY20013030200CE.csv',
 'BANKNIFTY20013030200PE.csv',
 'BANKNIFTY20013030300CE.csv',
 'BANKNIFTY20013030300PE.csv',
 'BANKNIFTY20013030400CE.csv',
 'BANKNIFTY20013030400PE.csv',
 'BANKNIFTY20013030500CE.csv',
 'BANKNIFTY20013030500PE.csv',
 'BANKNIFTY20013030600CE.csv',
 'BANKNIFTY20013030600PE.csv',
 'BANKNIFTY20013030700CE.csv',
 'BANKNIFTY20013030700PE.csv',
 'BANKNIFTY20013030800CE.csv',
 'BANKNIFTY20013030800PE.csv',
 'BANKNIFTY20013030900CE.csv',
 'BANKNIFTY20013030900PE.csv',
 'BANKNIFTY20013031000CE.csv',
 'BANKNIFTY20013031000PE.csv',
 'BANKNIFTY20013031100CE.csv',
 'BANKNIFTY20013031100PE.csv',
 'BANKNIFTY20013031200CE.csv',
 'BANKNIFTY20013031200PE.csv',
 'BANKNIFTY20013031300CE.csv',
 'BANKNIFTY20013031300PE.csv',
 'BANKNIFTY20013031400CE.csv',
 'BANKNIFTY20013031400PE.csv',
 'BANKNIFTY20013031500CE.csv',
 'BANKNIFTY20013031500PE.csv',
 'BANKNIFTY20013031600CE.csv',
 'BANKNIFTY20013031600PE.csv',
 'BANKNIFTY20013031700CE.csv',
 'BANKNIFTY20013031700PE.csv',
 'BANKNIFTY20013031800CE.csv',
 'BANKNIFTY20013031800PE.csv',
 'BANKNIFTY20013031900CE.csv',
 'BANKNIFTY20013031900PE.csv',
 'BANKNIFTY20013032000CE.csv',
 'BANKNIFTY20013032000PE.csv',
 'BANKNIFTY20013032100CE.csv',
 'BANKNIFTY20013032100PE.csv',
 'BANKNIFTY20013032200CE.csv',
 'BANKNIFTY20013032200PE.csv',
 'BANKNIFTY20013032300CE.csv',
 'BANKNIFTY20013032300PE.csv',
 'BANKNIFTY20013032400CE.csv',
 'BANKNIFTY20013032400PE.csv',
 'BANKNIFTY20013032500CE.csv',
 'BANKNIFTY20013032500PE.csv',
 'BANKNIFTY20013032600CE.csv',
 'BANKNIFTY20013032600PE.csv',
 'BANKNIFTY20013032700CE.csv',
 'BANKNIFTY20013032700PE.csv',
 'BANKNIFTY20013032800CE.csv',
 'BANKNIFTY20013032800PE.csv',
 'BANKNIFTY20013032900CE.csv',
 'BANKNIFTY20013032900PE.csv',
 'BANKNIFTY20013033000CE.csv',
 'BANKNIFTY20013033000PE.csv',
 'BANKNIFTY20013033100CE.csv',
 'BANKNIFTY20013033100PE.csv',
 'BANKNIFTY20013033200CE.csv',
 'BANKNIFTY20013033300CE.csv',
 'BANKNIFTY20013033300PE.csv',
 'BANKNIFTY20013033400CE.csv',
 'BANKNIFTY20013033500CE.csv',
 'BANKNIFTY20013033500PE.csv',
 'BANKNIFTY20013033600CE.csv',
 'BANKNIFTY20013033700CE.csv',
 'BANKNIFTY20013033800CE.csv',
 'BANKNIFTY20013033800PE.csv',
 'BANKNIFTY20013033900CE.csv',
 'BANKNIFTY20013034000CE.csv',
 'BANKNIFTY20013034000PE.csv',
 'BANKNIFTY20013034100CE.csv',
 'BANKNIFTY20013034300CE.csv',
 'BANKNIFTY20013034400CE.csv',
 'BANKNIFTY20013034500CE.csv',
 'BANKNIFTY20013034500PE.csv',
 'BANKNIFTY20013034700CE.csv',
 'BANKNIFTY20013034800CE.csv',
 'BANKNIFTY20013034900CE.csv',
 'BANKNIFTY20013035000CE.csv',
 'BANKNIFTY20013035000PE.csv',
 'BANKNIFTY20013035100CE.csv',
 'BANKNIFTY20013035200CE.csv',
 'BANKNIFTY20013035300CE.csv',
 'BANKNIFTY20013035400CE.csv',
 'BANKNIFTY20020626800CE.csv',
 'BANKNIFTY20020626800PE.csv',
 'BANKNIFTY20020627200PE.csv',
 'BANKNIFTY20020627500PE.csv',
 'BANKNIFTY20020627600CE.csv',
 'BANKNIFTY20020627600PE.csv',
 'BANKNIFTY20020627700CE.csv',
 'BANKNIFTY20020627700PE.csv',
 'BANKNIFTY20020627800PE.csv',
 'BANKNIFTY20020627900PE.csv',
 'BANKNIFTY20020628000CE.csv',
 'BANKNIFTY20020628000PE.csv',
 'BANKNIFTY20020628100PE.csv',
 'BANKNIFTY20020628200CE.csv',
 'BANKNIFTY20020628200PE.csv',
 'BANKNIFTY20020628300PE.csv',
 'BANKNIFTY20020628400PE.csv',
 'BANKNIFTY20020628500CE.csv',
 'BANKNIFTY20020628500PE.csv',
 'BANKNIFTY20020628600PE.csv',
 'BANKNIFTY20020628700PE.csv',
 'BANKNIFTY20020628800CE.csv',
 'BANKNIFTY20020628800PE.csv',
 'BANKNIFTY20020628900PE.csv',
 'BANKNIFTY20020629000CE.csv',
 'BANKNIFTY20020629000PE.csv',
 'BANKNIFTY20020629100CE.csv',
 'BANKNIFTY20020629100PE.csv',
 'BANKNIFTY20020629200CE.csv',
 'BANKNIFTY20020629200PE.csv',
 'BANKNIFTY20020629300CE.csv',
 'BANKNIFTY20020629300PE.csv',
 'BANKNIFTY20020629400CE.csv',
 'BANKNIFTY20020629400PE.csv',
 'BANKNIFTY20020629500CE.csv',
 'BANKNIFTY20020629500PE.csv',
 'BANKNIFTY20020629600CE.csv',
 'BANKNIFTY20020629600PE.csv',
 'BANKNIFTY20020629700CE.csv',
 'BANKNIFTY20020629700PE.csv',
 'BANKNIFTY20020629800CE.csv',
 'BANKNIFTY20020629800PE.csv',
 'BANKNIFTY20020629900CE.csv',
 'BANKNIFTY20020629900PE.csv',
 'BANKNIFTY20020630000CE.csv',
 'BANKNIFTY20020630000PE.csv',
 'BANKNIFTY20020630100CE.csv',
 'BANKNIFTY20020630100PE.csv',
 'BANKNIFTY20020630200CE.csv',
 'BANKNIFTY20020630200PE.csv',
 'BANKNIFTY20020630300CE.csv',
 'BANKNIFTY20020630300PE.csv',
 'BANKNIFTY20020630400CE.csv',
 'BANKNIFTY20020630400PE.csv',
 'BANKNIFTY20020630500CE.csv',
 'BANKNIFTY20020630500PE.csv',
 'BANKNIFTY20020630600CE.csv',
 'BANKNIFTY20020630600PE.csv',
 'BANKNIFTY20020630700CE.csv',
 'BANKNIFTY20020630700PE.csv',
 'BANKNIFTY20020630800CE.csv',
 'BANKNIFTY20020630800PE.csv',
 'BANKNIFTY20020630900CE.csv',
 'BANKNIFTY20020630900PE.csv',
 'BANKNIFTY20020631000CE.csv',
 'BANKNIFTY20020631000PE.csv',
 'BANKNIFTY20020631100CE.csv',
 'BANKNIFTY20020631100PE.csv',
 'BANKNIFTY20020631200CE.csv',
 'BANKNIFTY20020631200PE.csv',
 'BANKNIFTY20020631300CE.csv',
 'BANKNIFTY20020631300PE.csv',
 'BANKNIFTY20020631400CE.csv',
 'BANKNIFTY20020631400PE.csv',
 'BANKNIFTY20020631500CE.csv',
 'BANKNIFTY20020631500PE.csv',
 'BANKNIFTY20020631600CE.csv',
 'BANKNIFTY20020631600PE.csv',
 'BANKNIFTY20020631700CE.csv',
 'BANKNIFTY20020631700PE.csv',
 'BANKNIFTY20020631800CE.csv',
 'BANKNIFTY20020631800PE.csv',
 'BANKNIFTY20020631900CE.csv',
 'BANKNIFTY20020631900PE.csv',
 'BANKNIFTY20020632000CE.csv',
 'BANKNIFTY20020632000PE.csv',
 'BANKNIFTY20020632100CE.csv',
 'BANKNIFTY20020632100PE.csv',
 'BANKNIFTY20020632200CE.csv',
 'BANKNIFTY20020632200PE.csv',
 'BANKNIFTY20020632300CE.csv',
 'BANKNIFTY20020632300PE.csv',
 'BANKNIFTY20020632400CE.csv',
 'BANKNIFTY20020632400PE.csv',
 'BANKNIFTY20020632500CE.csv',
 'BANKNIFTY20020632500PE.csv',
 'BANKNIFTY20020632600CE.csv',
 'BANKNIFTY20020632600PE.csv',
 'BANKNIFTY20020632700CE.csv',
 'BANKNIFTY20020632700PE.csv',
 'BANKNIFTY20020632800CE.csv',
 'BANKNIFTY20020632900CE.csv',
 'BANKNIFTY20020633000CE.csv',
 'BANKNIFTY20020633000PE.csv',
 'BANKNIFTY20020633100CE.csv',
 'BANKNIFTY20020633200CE.csv',
 'BANKNIFTY20020633300CE.csv',
 'BANKNIFTY20020633400CE.csv',
 'BANKNIFTY20020633500CE.csv',
 'BANKNIFTY20020633600CE.csv',
 'BANKNIFTY20020633700CE.csv',

In [1]:
import numpy as np
import pandas as pd

In [5]:
df =pd.read_csv('C:\\keshav\\Rahul\\Options_data\\NIFTY & BANKNIFTY (Jan 2020 to 19 Dec 2022)\\NIFTY & BANKNIFTY Spot Indices (Jan 2020 to 19 Dec 2022)\\BANKNIFTY.csv',header=None)
df.rename(columns={
                    0 : 'date',
                    1 : 'time',
                    2 : 'open',
                    3 : 'high',
                    4 : 'low',
                    5 : 'close'
    },inplace=True)
df

            date   time      open      high       low     close
0       20200101  09:07  32237.90  32237.90  32237.90  32237.90
1       20200101  09:15  32227.80  32295.80  32220.90  32292.00
2       20200101  09:16  32296.35  32303.30  32283.95  32288.25
3       20200101  09:17  32285.05  32290.85  32279.35  32282.95
4       20200101  09:18  32280.20  32296.25  32270.70  32292.45
...          ...    ...       ...       ...       ...       ...
277466  20221219  15:26  43428.05  43435.30  43425.95  43433.90
277467  20221219  15:27  43436.65  43451.45  43432.80  43444.60
277468  20221219  15:28  43446.15  43448.25  43422.00  43428.60
277469  20221219  15:29  43429.40  43451.40  43424.80  43448.40
277470  20221219  15:31  43412.90  43413.75  43412.90  43413.75

[277471 rows x 6 columns]

In [33]:
df = pd.read_csv('finaldf.csv',index_col='datetime')
df

,open,high,low,close,currWeek_exp_dt,nextWeek_exp_dt,farWeek_exp_dt,currMonth_exp_dt,nextMonth_exp_dt,farMonth_exp_dt
datetime,,,,,,,,,,
2020-01-01 09:15:00,32227.80,32295.80,32220.90,32292.00,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01 09:16:00,32296.35,32303.30,32283.95,32288.25,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01 09:17:00,32285.05,32290.85,32279.35,32282.95,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01 09:18:00,32280.20,32296.25,32270.70,32292.45,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01 09:19:00,32295.30,32312.05,32294.85,32298.65,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
...,...,...,...,...,...,...,...,...,...,...
2022-12-19 15:25:00,43432.50,43433.35,43421.35,43429.75,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23
2022-12-19 15:26:00,43428.05,43435.30,43425.95,43433.90,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23
2022-12-19 15:27:00,43436.65,43451.45,43432.80,43444.60,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23
2022-12-19 15:28:00,43446.15,43448.25,43422.00,43428.60,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23
2022-12-19 15:29:00,43429.40,43451.40,43424.80,43448.40,2022-12-22,2022-12-29,2023-01-05,2022-12-29,2023-01-25,2023-02-23

In [34]:
df.index

Index(['2020-01-01 09:15:00', '2020-01-01 09:16:00', '2020-01-01 09:17:00',
       '2020-01-01 09:18:00', '2020-01-01 09:19:00', '2020-01-01 09:20:00',
       '2020-01-01 09:21:00', '2020-01-01 09:22:00', '2020-01-01 09:23:00',
       '2020-01-01 09:24:00',
       ...
       '2022-12-19 15:20:00', '2022-12-19 15:21:00', '2022-12-19 15:22:00',
       '2022-12-19 15:23:00', '2022-12-19 15:24:00', '2022-12-19 15:25:00',
       '2022-12-19 15:26:00', '2022-12-19 15:27:00', '2022-12-19 15:28:00',
       '2022-12-19 15:29:00'],
      dtype='object', name='datetime', length=275486)

In [36]:
df.index = pd.to_datetime(df.index)
df.index

DatetimeIndex(['2020-01-01 09:15:00', '2020-01-01 09:16:00',
               '2020-01-01 09:17:00', '2020-01-01 09:18:00',
               '2020-01-01 09:19:00', '2020-01-01 09:20:00',
               '2020-01-01 09:21:00', '2020-01-01 09:22:00',
               '2020-01-01 09:23:00', '2020-01-01 09:24:00',
               ...
               '2022-12-19 15:20:00', '2022-12-19 15:21:00',
               '2022-12-19 15:22:00', '2022-12-19 15:23:00',
               '2022-12-19 15:24:00', '2022-12-19 15:25:00',
               '2022-12-19 15:26:00', '2022-12-19 15:27:00',
               '2022-12-19 15:28:00', '2022-12-19 15:29:00'],
              dtype='datetime64[ns]', name='datetime', length=275486, freq=None)

In [39]:
import pandas as pd
import numpy as np

# Assuming you have a DataFrame called df with a column named 'status'

# Find the first non-null value
first_non_null = df['status'].dropna().iloc[0]

# Replace values that are not equal to the first non-null value with NaN
df['status'] = np.where(df['status'] != first_non_null, np.nan, df['status'])

# Print the updated DataFrame
print(df)

KeyError: 'status'

In [38]:
import pandas as pd
date_to_filter = pd.to_datetime('2020-01-01').date()
filtered_df = df[df.index.date == date_to_filter]
filtered_df

,open,high,low,close,currWeek_exp_dt,nextWeek_exp_dt,farWeek_exp_dt,currMonth_exp_dt,nextMonth_exp_dt,farMonth_exp_dt
datetime,,,,,,,,,,
2020-01-01 09:15:00,32227.80,32295.80,32220.90,32292.00,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01 09:16:00,32296.35,32303.30,32283.95,32288.25,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01 09:17:00,32285.05,32290.85,32279.35,32282.95,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01 09:18:00,32280.20,32296.25,32270.70,32292.45,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01 09:19:00,32295.30,32312.05,32294.85,32298.65,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
...,...,...,...,...,...,...,...,...,...,...
2020-01-01 15:25:00,32116.65,32129.65,32114.10,32119.95,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01 15:26:00,32119.45,32128.05,32117.70,32118.35,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01 15:27:00,32118.50,32126.10,32113.60,32118.40,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01 15:28:00,32117.35,32131.10,32117.35,32123.55,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26
2020-01-01 15:29:00,32128.15,32135.55,32119.90,32131.35,2020-01-02,2020-01-09,2020-01-16,2020-01-30,2020-02-27,2020-03-26