## First Post

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [101]:
dict = {"Name":['Keshav','Vikas',None, 'Sonali'],
        "Marks": [70, 55, 60, 80],
        'age': [25,26,19,22],
        'Height': [5.8,np.nan ,5.5, np.nan],
        'weight': [64, 70, 55, 45]
}

In [102]:
df = pd.DataFrame(dict)
df

     Name  Marks  age  Height  weight
0  Keshav     70   25     5.8      64
1   Vikas     55   26     NaN      70
2    None     60   19     5.5      55
3  Sonali     80   22     NaN      45

##  None 
- None is a Python object used to represent missing or undefined values in pandas.
- It is a Python singleton object of the NoneType class.
- None values are commonly used to represent missing non-numerical or generic data.
- None is an object type and cannot be used in mathematical operations.
- It is represented as the Python keyword None.

In [62]:
None*2

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [63]:
np.nan*2

nan

In [64]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, None]})
print(df)

#Note by default if None used in float or integer type data it will convert series into float type since NaN is float type

     A
0  1.0
1  2.0
2  NaN

## NaN

NaN (Not a Number):

- NaN is a floating-point representation of missing or undefined values in pandas.
- It is a special floating-point value defined by the IEEE 754 standard.
- NaN values are commonly used to represent missing numerical data.
- NaN is a numerical type and can be used in mathematical operations.
- It is represented as a floating-point value, typically np.nan or pd.NaT for datetime values.

In [95]:
df = pd.DataFrame({'A': [1, 2]})
print(df)

df.dtypes

   A
0  1
1  2

A    int64
dtype: object

In [91]:
df = pd.DataFrame({'A': [1, 2, np.nan]})
print(df)
print(df.dtypes)

     A
0  1.0
1  2.0
2  NaN
A    float64
dtype: object

## second post

## how to check for missing values  and what is problem in normal approach

In [90]:
df["A"]

0    1.0
1    2.0
2    NaN
Name: A, dtype: float64

In [87]:
df['A'] == np.NaN

0    False
1    False
2    False
Name: A, dtype: bool

In [88]:
pd.isna(df['A'])

0    False
1    False
2     True
Name: A, dtype: bool