## 3years-monthly dataset

In [111]:
import numpy as np
import pandas as pd

## reading csv's

In [112]:
df_21 = pd.read_csv("C:\\keshav\\3year_monthly_data\\fy20-21.csv")
df_21 = df_21.iloc[1:]
df_21.head()

,Instrument,SoldQuantity,BuyAvg,BuyValue,SellAvg,SellValue,NetRealizedPnL,RealisedGLPerc,CloseQuantityAsOnLastDay,BuyAvgOpenPrice,SellAvgPrice,CMP,NetUnrealizedPnL,NetUnrealizedPnlPerc,TotalGL,TotalGLPerc,DayGL,DayGLPerc,AssetType
1,ADANIENT-OPT-25Feb2021-CE-580-NSE,10000.0,25.27,252700.0,27.61,276100.0,23400.0,9.26%,0.0,0.0,0.0,0.0,0,0.0,23400.0,9.26%,NaN,%,FnO
2,ADANIENT-OPT-25Jun2020-CE-160-NSE,16000.0,7.91,126560.0,7.99,127840.0,1280.0,1.01%,0.0,0.0,0.0,0.0,0,0.0,1280.0,1.01%,NaN,%,FnO
3,ADANIENT-OPT-25Mar2021-PE-1040-NSE,10000.0,18.12,181200.0,17.92,179200.0,-2000.0,-1.10%,0.0,0.0,0.0,0.0,0,0.0,-2000.0,-1.10%,NaN,%,FnO
4,ADANIENT-OPT-25Mar2021-PE-850-NSE,12000.0,18.02,216240.0,16.87,202440.0,-13800.0,-6.38%,0.0,0.0,0.0,0.0,0,0.0,-13800.0,-6.38%,NaN,%,FnO
5,ADANIENT-OPT-25Mar2021-PE-900-NSE,16000.0,38.83,621280.0,43.46,695360.0,74080.0,11.92%,0.0,0.0,0.0,0.0,0,0.0,74080.0,11.92%,NaN,%,FnO

In [113]:
df_22 = pd.read_csv("C:\\keshav\\3year_monthly_data\\fy21-22.csv")
df_22 = df_22.iloc[1:]
df_22.head()

,Instrument,SoldQuantity,BuyAvg,BuyValue,SellAvg,SellValue,NetRealizedPnL,RealisedGLPerc,CloseQuantityAsOnLastDay,BuyAvgOpenPrice,SellAvgPrice,CMP,NetUnrealizedPnL,NetUnrealizedPnlPerc,TotalGL,TotalGLPerc,DayGL,DayGLPerc,AssetType
1,ACC-FUT-24Jun2021-NSE,2000.0,2028.43,4056860.0,2041.50,4083000.0,26140.0,0.64%,0.0,0.0,0.0,0.0,0,0.0,26140.0,0.64%,NaN,%,FnO
2,ACC-FUT-29Jul2021-NSE,4000.0,2085.90,8343580.0,2089.67,8358680.0,15100.0,0.18%,0.0,0.0,0.0,0.0,0,0.0,15100.0,0.18%,NaN,%,FnO
3,ACC-FUT-30Dec2021-NSE,1500.0,2162.35,3243525.0,2156.43,3234645.0,-8880.0,-0.27%,0.0,0.0,0.0,0.0,0,0.0,-8880.0,-0.27%,NaN,%,FnO
4,ACC-OPT-26Aug2021-PE-2300-NSE,2500.0,38.16,95400.0,23.89,59725.0,-35675.0,-37.40%,0.0,0.0,0.0,0.0,0,0.0,-35675.0,-37.40%,NaN,%,FnO
5,ACC-OPT-29Jul2021-CE-2140-NSE,2000.0,27.15,54300.0,25.89,51780.0,-2520.0,-4.64%,0.0,0.0,0.0,0.0,0,0.0,-2520.0,-4.64%,NaN,%,FnO

In [114]:
df_23 = pd.read_csv("C:\\keshav\\3year_monthly_data\\fy22-23.csv")
df_23.head()

,ScriptName,ISIN,BuyQty,BuyRate,BuyVal,SellQty,SellRate,SellVal,LTPRate,LTPVal,NetRealizedPnL,IncomeTax
0,ADANIENT23Feb2023CE1500.00,NSE-F&O,250,172.179960,43044.99,250,207.691080,51922.77,0,0,8877.78,2663.33
1,ADANIENT25Aug2022PE2850.00,NSE-F&O,5000,3.817882,19089.41,5000,20.890996,104454.98,0,0,85365.57,25609.67
2,ADANIENT25Aug2022PE2950.00,NSE-F&O,5000,43.063636,215318.18,5000,12.450516,62252.58,0,0,-153065.60,0.00
3,ADANIENT29Sep2022PE3400.00,NSE-F&O,2000,50.044265,100088.53,2000,27.434680,54869.36,0,0,-45219.17,0.00
4,ADANIENT29Sep2022PE3700.00,NSE-F&O,2000,100.699390,201398.78,2000,118.828295,237656.59,0,0,36257.81,10877.34

## Third column  manupulation

In [115]:
df_23.drop(columns=['ISIN','BuyQty','BuyRate','BuyVal','SellQty','SellRate','SellVal','LTPRate','LTPVal','IncomeTax'],inplace=True)

In [116]:
df_21.columns

Index(['Instrument', 'SoldQuantity', 'BuyAvg', 'BuyValue', 'SellAvg',
       'SellValue', 'NetRealizedPnL', 'RealisedGLPerc',
       'CloseQuantityAsOnLastDay', 'BuyAvgOpenPrice', 'SellAvgPrice', 'CMP',
       'NetUnrealizedPnL', 'NetUnrealizedPnlPerc', 'TotalGL', 'TotalGLPerc',
       'DayGL', 'DayGLPerc', 'AssetType'],
      dtype='object')

In [117]:
df_23

                      ScriptName  NetRealizedPnL
0     ADANIENT23Feb2023CE1500.00       8877.7800
1     ADANIENT25Aug2022PE2850.00      85365.5700
2     ADANIENT25Aug2022PE2950.00    -153065.6000
3     ADANIENT29Sep2022PE3400.00     -45219.1700
4     ADANIENT29Sep2022PE3700.00      36257.8100
...                          ...             ...
1517               VEDL28Jul2022      65053.2613
1518       VEDL28Jul2022PE230.00      22140.2496
1519             VOLTAS28Jul2022      14475.6300
1520    VOLTAS30Jun2022CE1040.00       2181.0510
1521      WIPRO28Jul2022CE420.00     -34785.2400

[1522 rows x 2 columns]

In [118]:
df_23['ScriptName'].values

array(['ADANIENT23Feb2023CE1500.00', 'ADANIENT25Aug2022PE2850.00',
       'ADANIENT25Aug2022PE2950.00', ..., 'VOLTAS28Jul2022',
       'VOLTAS30Jun2022CE1040.00', 'WIPRO28Jul2022CE420.00'], dtype=object)

In [119]:
column_names = ['Instrument', 'SoldQuantity', 'BuyAvg', 'BuyValue', 'SellAvg', 'SellValue', 'NetRealizedPnL', 'RealisedGLPerc', 'CloseQuantityAsOnLastDay', 'BuyAvgOpenPrice', 'SellAvgPrice', 'CMP', 'NetUnrealizedPnL', 'NetUnrealizedPnlPerc', 'TotalGL', 'TotalGLPerc', 'DayGL', 'DayGLPerc', 'AssetType']

In [120]:
temp_df = pd.DataFrame(columns=column_names)
temp_df

Empty DataFrame
Columns: [Instrument, SoldQuantity, BuyAvg, BuyValue, SellAvg, SellValue, NetRealizedPnL, RealisedGLPerc, CloseQuantityAsOnLastDay, BuyAvgOpenPrice, SellAvgPrice, CMP, NetUnrealizedPnL, NetUnrealizedPnlPerc, TotalGL, TotalGLPerc, DayGL, DayGLPerc, AssetType]
Index: []

In [121]:
temp_df['Instrument'] = df_23['ScriptName'].values
temp_df['NetRealizedPnL'] = df_23['NetRealizedPnL'].values
temp_df.fillna(0,inplace=True)

In [122]:
temp_df.head()

,Instrument,SoldQuantity,BuyAvg,BuyValue,SellAvg,SellValue,NetRealizedPnL,RealisedGLPerc,CloseQuantityAsOnLastDay,BuyAvgOpenPrice,SellAvgPrice,CMP,NetUnrealizedPnL,NetUnrealizedPnlPerc,TotalGL,TotalGLPerc,DayGL,DayGLPerc,AssetType
0,ADANIENT23Feb2023CE1500.00,0,0,0,0,0,8877.78,0,0,0,0,0,0,0,0,0,0,0,0
1,ADANIENT25Aug2022PE2850.00,0,0,0,0,0,85365.57,0,0,0,0,0,0,0,0,0,0,0,0
2,ADANIENT25Aug2022PE2950.00,0,0,0,0,0,-153065.60,0,0,0,0,0,0,0,0,0,0,0,0
3,ADANIENT29Sep2022PE3400.00,0,0,0,0,0,-45219.17,0,0,0,0,0,0,0,0,0,0,0,0
4,ADANIENT29Sep2022PE3700.00,0,0,0,0,0,36257.81,0,0,0,0,0,0,0,0,0,0,0,0

### applying regex

In [123]:
import re
temp_df['Date'] = pd.to_datetime(temp_df['Instrument'].apply(lambda x: re.search(r'\d{2}[A-Za-z]{3}\d{4}', x).group(0)))
temp_df.set_index('Date',inplace=True)

In [124]:
temp_df.head(2)

,Instrument,SoldQuantity,BuyAvg,BuyValue,SellAvg,SellValue,NetRealizedPnL,RealisedGLPerc,CloseQuantityAsOnLastDay,BuyAvgOpenPrice,SellAvgPrice,CMP,NetUnrealizedPnL,NetUnrealizedPnlPerc,TotalGL,TotalGLPerc,DayGL,DayGLPerc,AssetType
Date,,,,,,,,,,,,,,,,,,,
2023-02-23,ADANIENT23Feb2023CE1500.00,0,0,0,0,0,8877.78,0,0,0,0,0,0,0,0,0,0,0,0
2022-08-25,ADANIENT25Aug2022PE2850.00,0,0,0,0,0,85365.57,0,0,0,0,0,0,0,0,0,0,0,0

### checking shape

In [125]:
print(df_21.shape)
print(df_22.shape)
print(temp_df.shape)

(1261, 19)
(1774, 19)
(1522, 19)

## concatenating df1 and df2

In [126]:
df = pd.concat([df_21,df_22], axis=0)

### regex extracting date

In [127]:
import datetime as dt
df['Date'] = df['Instrument'].str.extract(r'(\d{2}[A-Za-z]{3}\d{4})')
df["Date"] = pd.to_datetime(df['Date'])
df.set_index('Date',inplace=True)

## concate these two df with temp_df

In [128]:
merged_df = pd.concat([df,temp_df], axis=0).sort_index()

In [129]:
merged_df.insert(0,"Year",merged_df.index.year.to_list())
merged_df.insert(1,"Month",merged_df.index.month.to_list())

## merged dataframe

In [130]:
merged_df

,Year,Month,Instrument,SoldQuantity,BuyAvg,BuyValue,SellAvg,SellValue,NetRealizedPnL,RealisedGLPerc,...,BuyAvgOpenPrice,SellAvgPrice,CMP,NetUnrealizedPnL,NetUnrealizedPnlPerc,TotalGL,TotalGLPerc,DayGL,DayGLPerc,AssetType
Date,,,,,,,,,,,,,,,,,,,,,
2020-04-01,2020,4,BANKNIFTY-OPT-01Apr2020-CE-18500-NSE,1000.0,14.10,14100.0,78.83,78830.0,64730.0000,459.08%,...,0.0,0.0,0.0,0,0.0,64730.0,459.08%,NaN,%,FnO
2020-04-01,2020,4,BANKNIFTY-OPT-01Apr2020-CE-18200-NSE,1500.0,30.86,46290.0,123.73,185595.0,139305.0000,300.94%,...,0.0,0.0,0.0,0,0.0,139305.0,300.94%,NaN,%,FnO
2020-04-01,2020,4,BANKNIFTY-OPT-01Apr2020-CE-18300-NSE,2000.0,19.93,39860.0,55.89,111780.0,71920.0000,180.43%,...,0.0,0.0,0.0,0,0.0,71920.0,180.43%,NaN,%,FnO
2020-04-01,2020,4,BANKNIFTY-OPT-01Apr2020-CE-18800-NSE,1000.0,32.96,32960.0,70.89,70890.0,37930.0000,115.08%,...,0.0,0.0,0.0,0,0.0,37930.0,115.08%,NaN,%,FnO
2020-04-01,2020,4,BANKNIFTY-OPT-01Apr2020-CE-19000-NSE,1000.0,12.76,12760.0,55.87,55870.0,43110.0000,337.85%,...,0.0,0.0,0.0,0,0.0,43110.0,337.85%,NaN,%,FnO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-29,2023,3,HDFCBANK29Mar2023CE1620.00,0.0,0.00,0.0,0.00,0.0,6179.5085,0,...,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,0
2023-03-29,2023,3,NIFTY29Mar2023PE16900.00,0.0,0.00,0.0,0.00,0.0,-543239.1708,0,...,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,0
2023-04-27,2023,4,NIFTY27Apr2023CE17700.00,0.0,0.00,0.0,0.00,0.0,184596.1704,0,...,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,0
2023-04-27,2023,4,NIFTY27Apr2023CE17000.00,0.0,0.00,0.0,0.00,0.0,-119847.9798,0,...,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,0
2023-04-27,2023,4,MUTHOOTFIN27Apr2023CE1000.00,0.0,0.00,0.0,0.00,0.0,-11773.5255,0,...,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,0

### total sum

In [131]:
merged_df['NetRealizedPnL'].sum()

29200942.576135002

### group by year and month

In [132]:
round(merged_df.groupby(['Year','Month'])['NetRealizedPnL'].sum())

Year  Month
2020  4         799378.0
      5         825252.0
      6        3154503.0
      7        1504377.0
      8         397969.0
      9          26716.0
      10        249109.0
      11      -1098869.0
      12       1148166.0
2021  1         587116.0
      2         572828.0
      3        2116878.0
      4       -1177666.0
      5        4322295.0
      6        -386924.0
      7        2166196.0
      8        -422590.0
      9       -1313667.0
      10       1849760.0
      11       -797823.0
      12        346799.0
2022  1       -1381612.0
      2        3849757.0
      3        4253471.0
      4         -79598.0
      5        2175757.0
      6        2328478.0
      7        -179940.0
      8         -10388.0
      9        1123483.0
      10        268744.0
      11        842076.0
      12       1057339.0
2023  1         557201.0
      2       -1021604.0
      3         495001.0
      4          52975.0
Name: NetRealizedPnL, dtype: float64

### grp_yearly

In [133]:
grp_yearly = round(merged_df.groupby(['Year','Month'])['NetRealizedPnL'].sum()).reset_index()
grp_yearly

    Year  Month  NetRealizedPnL
0   2020      4        799378.0
1   2020      5        825252.0
2   2020      6       3154503.0
3   2020      7       1504377.0
4   2020      8        397969.0
5   2020      9         26716.0
6   2020     10        249109.0
7   2020     11      -1098869.0
8   2020     12       1148166.0
9   2021      1        587116.0
10  2021      2        572828.0
11  2021      3       2116878.0
12  2021      4      -1177666.0
13  2021      5       4322295.0
14  2021      6       -386924.0
15  2021      7       2166196.0
16  2021      8       -422590.0
17  2021      9      -1313667.0
18  2021     10       1849760.0
19  2021     11       -797823.0
20  2021     12        346799.0
21  2022      1      -1381612.0
22  2022      2       3849757.0
23  2022      3       4253471.0
24  2022      4        -79598.0
25  2022      5       2175757.0
26  2022      6       2328478.0
27  2022      7       -179940.0
28  2022      8        -10388.0
29  2022      9       1123483.0
30  2022     10        268744.0
31  2022     11        842076.0
32  2022     12       1057339.0
33  2023      1        557201.0
34  2023      2      -1021604.0
35  2023      3        495001.0
36  2023      4         52975.0

In [134]:
# NetRealizedPnl in per
grp_yearly['NetRealizedPnLPerc'] = round(grp_yearly['NetRealizedPnL']/300000,2)

In [135]:
grp_yearly

    Year  Month  NetRealizedPnL  NetRealizedPnLPerc
0   2020      4        799378.0                2.66
1   2020      5        825252.0                2.75
2   2020      6       3154503.0               10.52
3   2020      7       1504377.0                5.01
4   2020      8        397969.0                1.33
5   2020      9         26716.0                0.09
6   2020     10        249109.0                0.83
7   2020     11      -1098869.0               -3.66
8   2020     12       1148166.0                3.83
9   2021      1        587116.0                1.96
10  2021      2        572828.0                1.91
11  2021      3       2116878.0                7.06
12  2021      4      -1177666.0               -3.93
13  2021      5       4322295.0               14.41
14  2021      6       -386924.0               -1.29
15  2021      7       2166196.0                7.22
16  2021      8       -422590.0               -1.41
17  2021      9      -1313667.0               -4.38
18  2021     10       1849760.0                6.17
19  2021     11       -797823.0               -2.66
20  2021     12        346799.0                1.16
21  2022      1      -1381612.0               -4.61
22  2022      2       3849757.0               12.83
23  2022      3       4253471.0               14.18
24  2022      4        -79598.0               -0.27
25  2022      5       2175757.0                7.25
26  2022      6       2328478.0                7.76
27  2022      7       -179940.0               -0.60
28  2022      8        -10388.0               -0.03
29  2022      9       1123483.0                3.74
30  2022     10        268744.0                0.90
31  2022     11        842076.0                2.81
32  2022     12       1057339.0                3.52
33  2023      1        557201.0                1.86
34  2023      2      -1021604.0               -3.41
35  2023      3        495001.0                1.65
36  2023      4         52975.0                0.18

### group by yearly with percentage

In [136]:
grp_yearly = grp_yearly[['Year','Month','NetRealizedPnLPerc']]
grp_yearly

    Year  Month  NetRealizedPnLPerc
0   2020      4                2.66
1   2020      5                2.75
2   2020      6               10.52
3   2020      7                5.01
4   2020      8                1.33
5   2020      9                0.09
6   2020     10                0.83
7   2020     11               -3.66
8   2020     12                3.83
9   2021      1                1.96
10  2021      2                1.91
11  2021      3                7.06
12  2021      4               -3.93
13  2021      5               14.41
14  2021      6               -1.29
15  2021      7                7.22
16  2021      8               -1.41
17  2021      9               -4.38
18  2021     10                6.17
19  2021     11               -2.66
20  2021     12                1.16
21  2022      1               -4.61
22  2022      2               12.83
23  2022      3               14.18
24  2022      4               -0.27
25  2022      5                7.25
26  2022      6                7.76
27  2022      7               -0.60
28  2022      8               -0.03
29  2022      9                3.74
30  2022     10                0.90
31  2022     11                2.81
32  2022     12                3.52
33  2023      1                1.86
34  2023      2               -3.41
35  2023      3                1.65
36  2023      4                0.18

## Nifty data

### reading nifty

In [137]:
nifty = pd.read_csv('Nifty50.csv')
nifty

,Date,Open,High,Low,Close,Adj Close,Volume
0,2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,4494.649902,0
1,2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,4546.200195,0
2,2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,4732.350098,0
3,2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,4747.549805,0
4,2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,4837.549805,0
...,...,...,...,...,...,...,...
3823,2023-04-26,17767.300781,17827.750000,17711.199219,17813.599609,17813.599609,233000
3824,2023-04-27,17813.099609,17931.599609,17797.900391,17915.050781,17915.050781,241400
3825,2023-04-28,17950.400391,18089.150391,17885.300781,18065.000000,18065.000000,290300
3826,2023-05-02,18124.800781,18180.250000,18101.750000,18147.650391,18147.650391,265200
3827,2023-05-03,18113.800781,18116.349609,18042.400391,18089.849609,18089.849609,0

In [138]:
nifty['Date'] = pd.to_datetime(nifty['Date'])
nifty.set_index('Date',inplace=True)

In [139]:
nifty = nifty.loc[merged_df.index[0]:merged_df.index[-1]]

In [140]:
nifty['symbol'] = 'Index'

C:\Users\Admin\AppData\Local\Temp\ipykernel_10404\805121873.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nifty['symbol'] = 'Index'

In [141]:
nifty

,Open,High,Low,Close,Adj Close,Volume,symbol
Date,,,,,,,
2020-04-01,8584.099609,8588.099609,8198.349609,8253.799805,8253.799805,506300,Index
2020-04-03,8356.549805,8356.549805,8055.799805,8083.799805,8083.799805,697000,Index
2020-04-07,8446.299805,8819.400391,8360.950195,8792.200195,8792.200195,814200,Index
2020-04-08,8688.900391,9131.700195,8653.900391,8748.750000,8748.750000,896500,Index
2020-04-09,8973.049805,9128.349609,8904.549805,9111.900391,9111.900391,742100,Index
...,...,...,...,...,...,...,...
2023-04-21,17639.750000,17663.199219,17553.949219,17624.050781,17624.050781,230200,Index
2023-04-24,17707.550781,17754.500000,17612.500000,17743.400391,17743.400391,255700,Index
2023-04-25,17761.550781,17807.449219,17716.849609,17769.250000,17769.250000,297400,Index
2023-04-26,17767.300781,17827.750000,17711.199219,17813.599609,17813.599609,233000,Index
2023-04-27,17813.099609,17931.599609,17797.900391,17915.050781,17915.050781,241400,Index

## monthly data

In [142]:
# Resample daily data to monthly data
monthly_data = nifty.resample('BM').last()

# Calculate monthly returns
monthly_data['monthly_return'] = ((monthly_data['Adj Close'] - monthly_data['Adj Close'].shift(1)) / monthly_data['Adj Close'].shift(1))*100

# Drop the first row as it will have NaN value
monthly_data = monthly_data.dropna()

# Print the monthly returns
print(monthly_data['monthly_return'])

Date
2020-05-29    -2.835734
2020-06-30     7.534209
2020-07-31     7.487314
2020-08-31     2.836061
2020-09-30    -1.228981
2020-10-30     3.510548
2020-11-30    11.394126
2020-12-31     7.809420
2021-01-29    -2.482882
2021-02-26     6.560888
2021-03-31     1.111901
2021-04-30    -0.405703
2021-05-31     6.504639
2021-06-30     0.890085
2021-07-30     0.264287
2021-08-31     8.685815
2021-09-30     2.836479
2021-10-29     0.303664
2021-11-30    -3.895794
2021-12-31     2.183638
2022-01-31    -0.081832
2022-02-28    -3.148523
2022-03-31     3.994603
2022-04-29    -2.073887
2022-05-31    -3.028788
2022-06-30    -4.849699
2022-07-29     8.732435
2022-08-31     3.502984
2022-09-30    -3.744242
2022-10-31     5.369316
2022-11-30     4.142472
2022-12-30    -3.481377
2023-01-31    -2.447628
2023-02-28    -2.028072
2023-03-31     0.322474
2023-04-28     3.198783
Freq: BM, Name: monthly_return, dtype: float64

In [144]:
monthly_data

,Open,High,Low,Close,Adj Close,Volume,symbol,monthly_return
Date,,,,,,,,
2020-05-29,9422.200195,9598.849609,9376.900391,9580.299805,9580.299805,967000,Index,-2.835734
2020-06-30,10382.599609,10401.049805,10267.349609,10302.099609,10302.099609,556200,Index,7.534209
2020-07-31,11139.500000,11150.400391,11026.650391,11073.450195,11073.450195,642600,Index,7.487314
2020-08-31,11777.549805,11794.250000,11325.849609,11387.500000,11387.500000,1371800,Index,2.836061
2020-09-30,11244.450195,11295.400391,11184.549805,11247.549805,11247.549805,499300,Index,-1.228981
2020-10-30,11678.450195,11748.950195,11535.450195,11642.400391,11642.400391,553700,Index,3.510548
2020-11-30,13012.049805,13035.299805,12914.299805,12968.950195,12968.950195,1162400,Index,11.394126
2020-12-31,13970.000000,14024.849609,13936.450195,13981.750000,13981.750000,452400,Index,7.809420
2021-01-29,13946.599609,13966.849609,13596.750000,13634.599609,13634.599609,753200,Index,-2.482882
2021-02-26,14888.599609,14919.450195,14467.750000,14529.150391,14529.150391,1103600,Index,6.560888
2021-03-31,14811.849609,14813.750000,14670.250000,14690.700195,14690.700195,463900,Index,1.111901
2021-04-30,14747.349609,14855.450195,14601.700195,14631.099609,14631.099609,613900,Index,-0.405703
2021-05-31,15437.750000,15606.349609,15374.000000,15582.799805,15582.799805,436000,Index,6.504639
2021-06-30,15776.900391,15839.099609,15708.750000,15721.500000,15721.500000,262400,Index,0.890085
2021-07-30,15800.599609,15862.799805,15744.849609,15763.049805,15763.049805,400000,Index,0.264287
2021-08-31,16947.500000,17153.500000,16915.849609,17132.199219,17132.199219,464400,Index,8.685815
2021-09-30,17718.900391,17742.150391,17585.349609,17618.150391,17618.150391,378600,Index,2.836479
2021-10-29,17833.050781,17915.849609,17613.099609,17671.650391,17671.650391,336500,Index,0.303664
2021-11-30,17051.150391,17324.650391,16931.400391,16983.199219,16983.199219,498000,Index,-3.895794
2021-12-31,17244.500000,17400.800781,17238.500000,17354.050781,17354.050781,167000,Index,2.183638
2022-01-31,17301.050781,17410.000000,17264.150391,17339.849609,17339.849609,321700,Index,-0.081832
2022-02-28,16481.599609,16815.900391,16356.299805,16793.900391,16793.900391,404200,Index,-3.148523
2022-03-31,17519.199219,17559.800781,17435.199219,17464.750000,17464.750000,281100,Index,3.994603
2022-04-29,17329.250000,17377.650391,17053.250000,17102.550781,17102.550781,336200,Index,-2.073887
2022-05-31,16578.449219,16690.750000,16521.900391,16584.550781,16584.550781,651600,Index,-3.028788
2022-06-30,15774.500000,15890.000000,15728.849609,15780.250000,15780.250000,306000,Index,-4.849699
2022-07-29,17079.500000,17172.800781,17018.150391,17158.250000,17158.250000,436100,Index,8.732435
2022-08-31,17414.949219,17777.650391,17401.500000,17759.300781,17759.300781,324700,Index,3.502984
2022-09-30,16798.050781,17187.099609,16747.699219,17094.349609,17094.349609,376100,Index,-3.744242
2022-10-31,17910.199219,18022.800781,17899.900391,18012.199219,18012.199219,227200,Index,5.369316
2022-11-30,18625.699219,18816.050781,18616.550781,18758.349609,18758.349609,345600,Index,4.142472
2022-12-30,18259.099609,18265.250000,18080.300781,18105.300781,18105.300781,192000,Index,-3.481377
2023-01-31,17731.449219,17735.699219,17537.550781,17662.150391,17662.150391,398300,Index,-2.447628
2023-02-28,17383.250000,17440.449219,17255.199219,17303.949219,17303.949219,420900,Index,-2.028072
2023-03-31,17210.349609,17381.599609,17204.650391,17359.750000,17359.750000,263900,Index,0.322474
2023-04-28,17813.099609,17931.599609,17797.900391,17915.050781,17915.050781,241400,Index,3.198783

In [145]:
monthly_data.insert(0,'Year',monthly_data.index.year)

In [146]:
monthly_data.insert(1,'Month',monthly_data.index.month)

In [147]:
monthly_data

,Year,Month,Open,High,Low,Close,Adj Close,Volume,symbol,monthly_return
Date,,,,,,,,,,
2020-05-29,2020,5,9422.200195,9598.849609,9376.900391,9580.299805,9580.299805,967000,Index,-2.835734
2020-06-30,2020,6,10382.599609,10401.049805,10267.349609,10302.099609,10302.099609,556200,Index,7.534209
2020-07-31,2020,7,11139.500000,11150.400391,11026.650391,11073.450195,11073.450195,642600,Index,7.487314
2020-08-31,2020,8,11777.549805,11794.250000,11325.849609,11387.500000,11387.500000,1371800,Index,2.836061
2020-09-30,2020,9,11244.450195,11295.400391,11184.549805,11247.549805,11247.549805,499300,Index,-1.228981
2020-10-30,2020,10,11678.450195,11748.950195,11535.450195,11642.400391,11642.400391,553700,Index,3.510548
2020-11-30,2020,11,13012.049805,13035.299805,12914.299805,12968.950195,12968.950195,1162400,Index,11.394126
2020-12-31,2020,12,13970.000000,14024.849609,13936.450195,13981.750000,13981.750000,452400,Index,7.809420
2021-01-29,2021,1,13946.599609,13966.849609,13596.750000,13634.599609,13634.599609,753200,Index,-2.482882
2021-02-26,2021,2,14888.599609,14919.450195,14467.750000,14529.150391,14529.150391,1103600,Index,6.560888
2021-03-31,2021,3,14811.849609,14813.750000,14670.250000,14690.700195,14690.700195,463900,Index,1.111901
2021-04-30,2021,4,14747.349609,14855.450195,14601.700195,14631.099609,14631.099609,613900,Index,-0.405703
2021-05-31,2021,5,15437.750000,15606.349609,15374.000000,15582.799805,15582.799805,436000,Index,6.504639
2021-06-30,2021,6,15776.900391,15839.099609,15708.750000,15721.500000,15721.500000,262400,Index,0.890085
2021-07-30,2021,7,15800.599609,15862.799805,15744.849609,15763.049805,15763.049805,400000,Index,0.264287
2021-08-31,2021,8,16947.500000,17153.500000,16915.849609,17132.199219,17132.199219,464400,Index,8.685815
2021-09-30,2021,9,17718.900391,17742.150391,17585.349609,17618.150391,17618.150391,378600,Index,2.836479
2021-10-29,2021,10,17833.050781,17915.849609,17613.099609,17671.650391,17671.650391,336500,Index,0.303664
2021-11-30,2021,11,17051.150391,17324.650391,16931.400391,16983.199219,16983.199219,498000,Index,-3.895794
2021-12-31,2021,12,17244.500000,17400.800781,17238.500000,17354.050781,17354.050781,167000,Index,2.183638
2022-01-31,2022,1,17301.050781,17410.000000,17264.150391,17339.849609,17339.849609,321700,Index,-0.081832
2022-02-28,2022,2,16481.599609,16815.900391,16356.299805,16793.900391,16793.900391,404200,Index,-3.148523
2022-03-31,2022,3,17519.199219,17559.800781,17435.199219,17464.750000,17464.750000,281100,Index,3.994603
2022-04-29,2022,4,17329.250000,17377.650391,17053.250000,17102.550781,17102.550781,336200,Index,-2.073887
2022-05-31,2022,5,16578.449219,16690.750000,16521.900391,16584.550781,16584.550781,651600,Index,-3.028788
2022-06-30,2022,6,15774.500000,15890.000000,15728.849609,15780.250000,15780.250000,306000,Index,-4.849699
2022-07-29,2022,7,17079.500000,17172.800781,17018.150391,17158.250000,17158.250000,436100,Index,8.732435
2022-08-31,2022,8,17414.949219,17777.650391,17401.500000,17759.300781,17759.300781,324700,Index,3.502984
2022-09-30,2022,9,16798.050781,17187.099609,16747.699219,17094.349609,17094.349609,376100,Index,-3.744242
2022-10-31,2022,10,17910.199219,18022.800781,17899.900391,18012.199219,18012.199219,227200,Index,5.369316
2022-11-30,2022,11,18625.699219,18816.050781,18616.550781,18758.349609,18758.349609,345600,Index,4.142472
2022-12-30,2022,12,18259.099609,18265.250000,18080.300781,18105.300781,18105.300781,192000,Index,-3.481377
2023-01-31,2023,1,17731.449219,17735.699219,17537.550781,17662.150391,17662.150391,398300,Index,-2.447628
2023-02-28,2023,2,17383.250000,17440.449219,17255.199219,17303.949219,17303.949219,420900,Index,-2.028072
2023-03-31,2023,3,17210.349609,17381.599609,17204.650391,17359.750000,17359.750000,263900,Index,0.322474
2023-04-28,2023,4,17813.099609,17931.599609,17797.900391,17915.050781,17915.050781,241400,Index,3.198783

In [149]:
monthly_data = round(monthly_data.groupby(['Year','Month'])['monthly_return'].sum().reset_index())
monthly_data

    Year  Month  monthly_return
0   2020      5            -3.0
1   2020      6             8.0
2   2020      7             7.0
3   2020      8             3.0
4   2020      9            -1.0
5   2020     10             4.0
6   2020     11            11.0
7   2020     12             8.0
8   2021      1            -2.0
9   2021      2             7.0
10  2021      3             1.0
11  2021      4            -0.0
12  2021      5             7.0
13  2021      6             1.0
14  2021      7             0.0
15  2021      8             9.0
16  2021      9             3.0
17  2021     10             0.0
18  2021     11            -4.0
19  2021     12             2.0
20  2022      1            -0.0
21  2022      2            -3.0
22  2022      3             4.0
23  2022      4            -2.0
24  2022      5            -3.0
25  2022      6            -5.0
26  2022      7             9.0
27  2022      8             4.0
28  2022      9            -4.0
29  2022     10             5.0
30  2022     11             4.0
31  2022     12            -3.0
32  2023      1            -2.0
33  2023      2            -2.0
34  2023      3             0.0
35  2023      4             3.0

## combining yearly data with monthly index data

In [153]:
stockVSindex = pd.merge(grp_yearly, monthly_data, on=["Year", "Month"], how="left")
stockVSindex

    Year  Month  NetRealizedPnLPerc  monthly_return
0   2020      4                2.66             NaN
1   2020      5                2.75            -3.0
2   2020      6               10.52             8.0
3   2020      7                5.01             7.0
4   2020      8                1.33             3.0
5   2020      9                0.09            -1.0
6   2020     10                0.83             4.0
7   2020     11               -3.66            11.0
8   2020     12                3.83             8.0
9   2021      1                1.96            -2.0
10  2021      2                1.91             7.0
11  2021      3                7.06             1.0
12  2021      4               -3.93            -0.0
13  2021      5               14.41             7.0
14  2021      6               -1.29             1.0
15  2021      7                7.22             0.0
16  2021      8               -1.41             9.0
17  2021      9               -4.38             3.0
18  2021     10                6.17             0.0
19  2021     11               -2.66            -4.0
20  2021     12                1.16             2.0
21  2022      1               -4.61            -0.0
22  2022      2               12.83            -3.0
23  2022      3               14.18             4.0
24  2022      4               -0.27            -2.0
25  2022      5                7.25            -3.0
26  2022      6                7.76            -5.0
27  2022      7               -0.60             9.0
28  2022      8               -0.03             4.0
29  2022      9                3.74            -4.0
30  2022     10                0.90             5.0
31  2022     11                2.81             4.0
32  2022     12                3.52            -3.0
33  2023      1                1.86            -2.0
34  2023      2               -3.41            -2.0
35  2023      3                1.65             0.0
36  2023      4                0.18             3.0

In [154]:
stockVSindex.rename(columns={
    'NetRealizedPnLPerc': 'stock_NetRealizedPnLPerc',
    'monthly_return': 'index_monthly_return'
},inplace=True)

In [155]:
stockVSindex

    Year  Month  stock_NetRealizedPnLPerc  index_monthly_return
0   2020      4                      2.66                   NaN
1   2020      5                      2.75                  -3.0
2   2020      6                     10.52                   8.0
3   2020      7                      5.01                   7.0
4   2020      8                      1.33                   3.0
5   2020      9                      0.09                  -1.0
6   2020     10                      0.83                   4.0
7   2020     11                     -3.66                  11.0
8   2020     12                      3.83                   8.0
9   2021      1                      1.96                  -2.0
10  2021      2                      1.91                   7.0
11  2021      3                      7.06                   1.0
12  2021      4                     -3.93                  -0.0
13  2021      5                     14.41                   7.0
14  2021      6                     -1.29                   1.0
15  2021      7                      7.22                   0.0
16  2021      8                     -1.41                   9.0
17  2021      9                     -4.38                   3.0
18  2021     10                      6.17                   0.0
19  2021     11                     -2.66                  -4.0
20  2021     12                      1.16                   2.0
21  2022      1                     -4.61                  -0.0
22  2022      2                     12.83                  -3.0
23  2022      3                     14.18                   4.0
24  2022      4                     -0.27                  -2.0
25  2022      5                      7.25                  -3.0
26  2022      6                      7.76                  -5.0
27  2022      7                     -0.60                   9.0
28  2022      8                     -0.03                   4.0
29  2022      9                      3.74                  -4.0
30  2022     10                      0.90                   5.0
31  2022     11                      2.81                   4.0
32  2022     12                      3.52                  -3.0
33  2023      1                      1.86                  -2.0
34  2023      2                     -3.41                  -2.0
35  2023      3                      1.65                   0.0
36  2023      4                      0.18                   3.0

In [ ]:
stockVSindex.to_csv('proft_stock_vs_index_grp_monthly.csv')

## nifty data more

In [ ]:
nifty = nifty.reset_index()
monthly_data = monthly_data.reset_index()

nifty = nifty.merge(monthly_data[['Date', 'monthly_return']], how='left', on='Date')
nifty['monthly_return'] = nifty['monthly_return'].fillna(0)

nifty = nifty.set_index('Date')

In [ ]:
grp_yearly

In [ ]:
nifty.insert(0,'Year',nifty.index.year)

In [ ]:
nifty.insert(1,'Month',nifty.index.month)

In [ ]:
grp_yearly

In [ ]:
index_grp = round(nifty.groupby(['Year','Month'])['monthly_return'].sum().reset_index())
index_grp

### Result

In [ ]:
monthly_data

In [ ]:
index_grp

In [ ]:
stockVSindex = pd.merge(grp_yearly, index_grp, on=["Year", "Month"], how="outer")
stockVSindex

In [ ]:
stockVSindex.rename(columns={
    'NetRealizedPnLPerc': 'stock_NetRealizedPnLPerc',
    'monthly_return': 'index_monthly_return'
},inplace=True)

### converting to csv

In [ ]:
stockVSindex.to_csv('proft_stock_vs_index_grp_monthly.csv')